Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

feat: update redirection nodes to rely on service nodes
  .changeset/eager-olives-eat.md
  .changeset/famous-planets-care.md
  .github/renovate.json
  package.json
  packages/container/libraries/container/src/issues/serviceRedirectionShouldBeRefreshed.int.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.spec.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.ts
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkPlanServiceRedirectionBindingNodeSingleInjectionBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkPlanServiceRedirectionBindingNodeSingleInjectionBindings.ts
  packages/container/libraries/core/src/planning/calculations/checkServiceNodeSingleInjectionBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkServiceNodeSingleInjectionBindings.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.spec.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.ts
  packages/container/libraries/core/src/planning/calculations/isPlanServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/planning/calculations/isPlanServiceRedirectionBindingNode.ts
  packages/container/libraries/core/src/planning/calculations/throwErrorWhenUnexpectedBindingsAmountFound.spec.ts
  packages/container/libraries/core/src/planning/calculations/throwErrorWhenUnexpectedBindingsAmountFound.ts
  packages/container/libraries/core/src/planning/calculations/tryBuildGetPlanOptionsFromBuildServiceNodeOptions.ts
  packages/container/libraries/core/src/planning/models/NonCachedServiceNodeContext.ts
  packages/container/libraries/core/src/planning/models/PlanBindingNode.ts
  packages/container/libraries/core/src/planning/models/PlanServiceNodeParent.ts
  packages/container/libraries/core/src/planning/models/PlanServiceRedirectionBindingNode.ts
  packages/container/libraries/core/src/planning/models/SubplanParams.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
  packages/container/libraries/core/src/resolution/actions/resolveMultipleBindingServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingleBindingServiceNode.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.ts
  packages/container/libraries/plugin-dispose/src/calculations/isPlanServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isPlanServiceRedirectionBindingNode.ts
  packages/docs/services/inversify-site/src/components/DocusaurusInversifyCodeEditor/buildMermaidFlowChart.ts
Due: @inversifyjs/container, @inversifyjs/core, @inversifyjs/plugin-dispose

style: remove unused exports
  packages/container/libraries/core/src/planning/models/SubplanParams.ts
Due: @inversifyjs/core

feat: update service redirection binding node with resolver
  .changeset/yellow-yaks-happen.md
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.ts
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.spec.ts
  packages/container/libraries/core/src/planning/calculations/isPlanServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/planning/models/PlanServiceRedirectionBindingNode.ts
  packages/container/libraries/core/src/planning/models/PlanServiceRedirectionBindingNodeImplementation.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveMultipleBindingServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceNode.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingleBindingServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveSingleBindingServiceNode.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.spec.ts
Due: @inversifyjs/core, @inversifyjs/plugin-dispose

fix: update redirection node implementation with right resolver
  packages/container/libraries/core/src/planning/models/PlanServiceRedirectionBindingNodeImplementation.ts
Due: @inversifyjs/core

feat: update PlanServiceNode with resolve
  .changeset/upset-deer-brush.md
  packages/container/libraries/core/src/planning/actions/addRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/addServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/cacheNonRootPlanServiceNode.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildPlanServiceNode.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildPlanServiceNode.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.spec.ts
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
  packages/container/libraries/core/src/planning/actions/plan.spec.ts
  packages/container/libraries/core/src/planning/actions/removeRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/removeServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/calculations/checkServiceNodeSingleInjectionBindings.ts
  packages/container/libraries/core/src/planning/calculations/curryBuildPlanServiceNodeFromOptions.spec.ts
  packages/container/libraries/core/src/planning/calculations/curryBuildPlanServiceNodeFromOptions.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.spec.ts
  packages/container/libraries/core/src/planning/calculations/isPlanServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/core/src/planning/fixtures/PlanMultipleBindingServiceNodeFixtures.ts
  packages/container/libraries/core/src/planning/fixtures/PlanSingleBindingServiceNodeFixtures.ts
  packages/container/libraries/core/src/planning/models/LazyPlanServiceNode.spec.ts
  packages/container/libraries/core/src/planning/models/LazyPlanServiceNode.ts
  packages/container/libraries/core/src/planning/models/PlanMultipleBindingServiceNodeImplementation.ts
  packages/container/libraries/core/src/planning/models/PlanServiceNode.ts
  packages/container/libraries/core/src/planning/models/PlanServiceRedirectionBindingNode.ts
  packages/container/libraries/core/src/planning/models/PlanServiceRedirectionBindingNodeImplementation.ts
  packages/container/libraries/core/src/planning/models/PlanSingleBindingServiceNode.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveMultipleBindingServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceRedirectionBindingNode.spec.ts
  packages/docs/tools/react-code-runner/src/inversifyBundle.ts
Due: @inversifyjs/core

feat: update resolution algorithm to rely on service node resolvers
  packages/container/libraries/core/src/resolution/actions/resolve.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceNode.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceNode.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.spec.ts
  packages/container/libraries/core/src/resolution/actions/setInstanceProperties.ts
Due: @inversifyjs/core

fix: fix test
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.spec.ts
Due: @inversifyjs/plugin-dispose

chore: update transient scoped flow to reduce overhead
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/PlanSingleBindingServiceNode.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.ts
  packages/container/libraries/core/src/resolution/actions/resolveScopedWithNoActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveScopedWithNoActivations.ts
Due: @inversifyjs/core

fix: update resolver to properly handle undefined constructor params
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
Due: @inversifyjs/core

feat: rename bench platform to name
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6BaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify7/Inversify7BaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8/Inversify8BaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentBaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexResolvedValueServiceInTranstientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/nestCore/NestCoreGetComplexServiceInSingletonScopeScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/nestCore/NestCoreGetComplexServiceInTransientScopeScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/nestCore/NestCoreGetServiceInSingletonScopeScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/nestCore/NestCoreGetServiceInTransientScopeScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeBaseScenario.ts
  packages/foundation/libraries/benchmark-utils/src/benchmark/calculations/buildBenchmark.ts
  packages/foundation/libraries/benchmark-utils/src/scenario/models/Scenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario/k6/BaseK6Scenario.ts
Due: none

feat: update InstanceBindingNode
  .changeset/giant-dodos-grab.md
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorNoParamNode.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorNoParamNode.ts
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.ts
  packages/container/libraries/core/src/planning/calculations/isConstructorNoParamNode.spec.ts
  packages/container/libraries/core/src/planning/calculations/isConstructorNoParamNode.ts
  packages/container/libraries/core/src/planning/models/ConstructorNoParamNode.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNode.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingConstructorParams.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.ts
  packages/docs/services/inversify-site/src/components/DocusaurusInversifyCodeEditor/buildMermaidFlowChart.ts
Due: @inversifyjs/core, @inversifyjs/plugin-dispose

refactor: update resolve value nodes to rely on optimized resolver
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNodeImplementation.ts
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeFromConstructorParams.ts
  packages/container/libraries/core/src/resolution/actions/resolveResolvedValueBindingParams.ts
Due: @inversifyjs/core

fix: add missing activation resolution
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
Due: @inversifyjs/core

chore: remove turbo from quarantine
  .github/renovate.json
  package.json
Due: none

fix: knip
  knip.ts
Due: none

refactor: add resolveTwo
  packages/container/libraries/core/src/planning/calculations/resolveTwo.spec.ts
  packages/container/libraries/core/src/planning/calculations/resolveTwo.ts
Due: @inversifyjs/core

refactor: add resolveThree
  packages/container/libraries/core/src/planning/calculations/resolveThree.spec.ts
  packages/container/libraries/core/src/planning/calculations/resolveThree.ts
Due: @inversifyjs/core

refactor: add resolveFour
  packages/container/libraries/core/src/planning/calculations/resolveFour.spec.ts
  packages/container/libraries/core/src/planning/calculations/resolveFour.ts
Due: @inversifyjs/core

perf: update resolvers with arity related calls
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
Due: @inversifyjs/core

chore: add async service resolution scenario
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetComplexAsyncServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify7/Inversify7GetComplexAsyncServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8/Inversify8GetComplexAsyncServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexAsyncServiceInTransientScope.ts
Due: none

fix: fix resolve arities to propagate promise rejections
  packages/container/libraries/core/src/planning/calculations/resolveFour.ts
  packages/container/libraries/core/src/planning/calculations/resolveThree.ts
  packages/container/libraries/core/src/planning/calculations/resolveTwo.ts
Due: @inversifyjs/core

perf: update request scoped map to be lazily loaded
  packages/container/libraries/core/src/resolution/actions/resolveScoped.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveScoped.ts
  packages/container/libraries/core/src/resolution/actions/resolveScopedWithNoActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveScopedWithNoActivations.ts
  packages/container/libraries/core/src/resolution/models/ResolutionParams.ts
Due: @inversifyjs/core

perf: provide cache provision hot path
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.spec.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
Due: @inversifyjs/container, @inversifyjs/core

docs: add changeset
  .changeset/major-mirrors-like.md
Due: none

fix: fix ci
  .github/renovate.json
  packages/docs/services/inversify-site/package.json
  packages/docs/tools/react-code-runner/package.json
Due: none

perf: update buildInstanceBindingNodeResolver
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.ts
Due: @inversifyjs/core

refactor: update resolver without redundant binding param
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNodeImplementation.ts
Due: @inversifyjs/core

docs: add changeset
  .changeset/vast-wings-tease.md
Due: none

docs: update blog with 8.1.3 release
  packages/docs/services/inversify-site/blog/2026-07-08-announcing-inversify-8-1-3/index.mdx
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

fix: use unique id
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

chore: bump pnpm
  .github/renovate.json
  package.json
Due: none

refactor: extract getGeneratedResolverId
  packages/container/libraries/core/src/planning/calculations/getGeneratedResolverId.ts
Due: @inversifyjs/core

refactor: extract buildZeroConstructorArgumentsResolver
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolver.ts
Due: @inversifyjs/core

refactor: extract buildOneConstructorArgumentsResolver
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolver.ts
Due: @inversifyjs/core

refactor: extract buildConstructorArgumentsResolver
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolve.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolver.ts
Due: @inversifyjs/core

refactor: update buildInstanceBindingNode to rely on resolve builders
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
Due: @inversifyjs/core

fix: knip poor pnpm workspace analysis
  knip.ts
Due: none

fix: code examples
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiBodyMultipartFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiBodyMultipartUwebsockets.ts
Due: none

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
