Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

feat: update BindingManager.unbindAll
  .changeset/binding-manager-unbind-all.md
  packages/container/libraries/container/src/container/services/BindingManager.spec.ts
  packages/container/libraries/container/src/container/services/BindingManager.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

feat: update Container with unbindAllSync
  .changeset/binding-manager-unbind-all.md
  .changeset/fast-trains-try.md
  packages/container/libraries/container/src/container/services/BindingManager.spec.ts
  packages/container/libraries/container/src/container/services/BindingManager.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
Due: @inversifyjs/container

docs: update Container docs update page with unbindAllSync docs
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/container.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-7.x/api/container.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/api/container.mdx
Due: none

feat: update InversifyHttpAdapter with optional TParams
  .changeset/dry-swans-sip.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: @inversifyjs/http-core

docs: add express patch changeset
  .changeset/cuddly-flowers-warn.md
Due: none

chore: update deps
  packages/docs/tools/inversify-graphql-code-examples/package.json
  pnpm-workspace.yaml
Due: none

fix: update InversifyHttpAdapter
  .changeset/ninety-zoos-run.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.ts
Due: @inversifyjs/http-core

test: update e2e test with global interceptor scenario
  packages/framework/http/tools/e2e-tests/features/interceptor.feature
  packages/framework/http/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/framework/http/tools/e2e-tests/src/common/models/InversifyHttpWorld.ts
  packages/framework/http/tools/e2e-tests/src/server/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsDeleteExpressGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsGetExpressGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsPatchExpressGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsPostExpressGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express/WarriorsPutExpressGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsDeleteExpress4GlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsGetExpress4GlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsPatchExpress4GlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsPostExpress4GlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/express4/WarriorsPutExpress4GlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsDeleteFastifyGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsGetFastifyGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsPatchFastifyGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsPostFastifyGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/fastify/WarriorsPutFastifyGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsDeleteHonoGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsGetHonoGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsPatchHonoGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsPostHonoGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/hono/WarriorsPutHonoGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/uwebsockets/WarriorsDeleteUwebSocketsGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/uwebsockets/WarriorsGetUwebSocketsGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/uwebsockets/WarriorsPatchUwebSocketsGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/uwebsockets/WarriorsPostUwebSocketsGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/controllers/uwebsockets/WarriorsPutUwebSocketsGlobalInterceptorController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/step-definitions/givenDefinitions.ts
Due: none

style: fix typo
  .changeset/ninety-zoos-run.md
Due: none

docs: add migrating from express utils docs
  .github/workflows/publish.yaml
  packages/docs/services/inversify-framework-site/docs/faq/_category_.json
  packages/docs/services/inversify-framework-site/docs/faq/migrating-from-inversify-express-utils.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationAuthMiddleware.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationBaseHttpController.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationErrorFilter.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationHttpContextMiddleware.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationMiddleware.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationMiddlewareUsage.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationServerSetup.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationServerSetupFooController.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationServerSetupFooService.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationTracingController.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/migrationTracingMiddleware.ts
Due: none

chore: update publish workflow to rely on personal environments
  .github/workflows/create-bump-pr.yaml
  .github/workflows/publish.yaml
Due: none

fix: align main branch
  .github/workflows/create-bump-pr.yaml
Due: none

docs: update migrating from v6 docs with missing sections
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/guides/migrating-from-v6.mdx
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToAutoFactory.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToAutoFactory.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToAutoNamedFactory.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToAutoNamedFactory.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToConstructor.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToConstructor.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToFunction.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/migrationToFunction.ts
Due: none

fix: update ClassValidationPipe
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.int.spec.ts
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.spec.ts
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.ts
Due: @inversifyjs/class-validation

refactor: remove unused export
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.ts
Due: @inversifyjs/class-validation

docs: add changeset
  .changeset/thirty-mails-see.md
Due: none

chore: bump fastify
  packages/framework/http/tools/http-benchmarks/package.json
Due: none

fix: remove unused export
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/core

feat: remove Provider
  .changeset/gold-deer-wink.md
  .changeset/wet-pants-cheer.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.spec.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntaxImplementation.ts
  packages/container/libraries/core/src/binding/calculations/cloneBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneBinding.ts
  packages/container/libraries/core/src/binding/calculations/cloneProviderBinding.spec.ts
  packages/container/libraries/core/src/binding/calculations/cloneProviderBinding.ts
  packages/container/libraries/core/src/binding/models/Binding.ts
  packages/container/libraries/core/src/binding/models/Provider.ts
  packages/container/libraries/core/src/binding/models/ProviderBinding.ts
  packages/container/libraries/core/src/index.ts
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
  packages/container/libraries/core/src/planning/actions/plan.spec.ts
  packages/container/libraries/core/src/planning/actions/removeRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/models/LeafBindingNode.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.ts
  packages/container/libraries/core/src/resolution/actions/resolveProviderBinding.ts
  packages/container/libraries/core/src/resolution/calculations/resolveProviderBindingCallback.spec.ts
  packages/container/libraries/core/src/resolution/calculations/resolveProviderBindingCallback.ts
  packages/container/libraries/inversify/src/index.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1297.test.ts
  packages/container/libraries/inversify/src/test/features/provider.int.spec.ts
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

refactor: remove unused enum value
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
Due: @inversifyjs/core

feat: update ServiceIdentifier without Function
  .changeset/lovely-hotels-enjoy.md
  packages/container/libraries/common/src/services/models/ServiceIdentifier.spec-d.ts
  packages/container/libraries/common/src/services/models/ServiceIdentifier.ts
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.spec-d.ts
  packages/container/libraries/core/src/binding/calculations/buildInstanceBinding.ts
  packages/container/libraries/core/src/binding/services/BindingService.ts
Due: @inversifyjs/common, @inversifyjs/container, @inversifyjs/core

Update README.md
  README.md
Due: none

feat: renamed Container.load and Container.loadSync
  .changeset/deep-groups-mix.md
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.spec.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.ts
  packages/container/libraries/inversify/src/test/container/container_module.int.spec.ts
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
Due: @inversifyjs/container

feat: update Container.unload to be sync by default
  .changeset/swift-modules-drop.md
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.spec.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.ts
  packages/container/libraries/inversify/src/test/container/container_module.int.spec.ts
Due: @inversifyjs/container

test: fix test to rely on unloadAsync
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
Due: none

feat: update ContainerModule and Container
  .changeset/beige-mugs-sit.md
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isAnyAncestorBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraints.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNoAncestorBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isNotParentBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithName.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithServiceId.spec.ts
  packages/container/libraries/container/src/binding/calculations/isParentBindingConstraintsWithTag.spec.ts
  packages/container/libraries/container/src/container/models/ContainerModule.ts
  packages/container/libraries/container/src/container/services/BindingManager.spec.ts
  packages/container/libraries/container/src/container/services/BindingManager.ts
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.spec.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.ts
  packages/container/libraries/container/src/issues/childContainerGetShouldReturnRightInstanceWhenParentBindingIsUpdated.int.spec.ts
  packages/container/libraries/container/src/issues/containerRestoreShouldRestoreActivations.int.spec.ts
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1857-childContainerShouldPointToRightParentServicesAfterRestore.int.spec.ts
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1864-unbindCallShouldNotTrowPlanningErrorsint.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1416.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1518.test.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container_module.int.spec.ts
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.spec.ts
  packages/container/tools/e2e-tests/src/binding/step-definitions/whenDefinitions.ts
Due: @inversifyjs/container, @inversifyjs/plugin-dispose

feat: updated Container.unbindAll to be sync by default
  .changeset/tiny-zebras-stay.md
  packages/container/libraries/container/src/container/services/BindingManager.spec.ts
  packages/container/libraries/container/src/container/services/BindingManager.ts
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/ContainerModuleManager.spec.ts
Due: @inversifyjs/container

test: update assertion description
  packages/container/libraries/container/src/container/services/Container.spec.ts
Due: @inversifyjs/container

fix: fix unbindAll calls
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetServiceInTransientScope.ts
Due: none

chore: update turbo tasks to depend on config files
  turbo.json
Due: none

chore: add eslint-plugin
  packages/foundation/tools/eslint-config/index.js
  packages/foundation/tools/eslint-plugin-require-extensions/.gitignore
  packages/foundation/tools/eslint-plugin-require-extensions/.lintstagedrc.json
  packages/foundation/tools/eslint-plugin-require-extensions/.npmignore
  packages/foundation/tools/eslint-plugin-require-extensions/README.md
  packages/foundation/tools/eslint-plugin-require-extensions/eslint.config.mjs
  packages/foundation/tools/eslint-plugin-require-extensions/package.json
  packages/foundation/tools/eslint-plugin-require-extensions/prettier.config.mjs
  packages/foundation/tools/eslint-plugin-require-extensions/src/index.ts
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.int.spec.ts
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.ts
  packages/foundation/tools/eslint-plugin-require-extensions/tsconfig.esm.json
  packages/foundation/tools/eslint-plugin-require-extensions/tsconfig.json
  packages/foundation/tools/eslint-plugin-require-extensions/vitest.config.mjs
Due: none

chore: update common package to be ESM only
  packages/container/libraries/common/.gitignore
  packages/container/libraries/common/.npmignore
  packages/container/libraries/common/eslint.config.mjs
  packages/container/libraries/common/package.json
  packages/container/libraries/common/rollup.config.mjs
  packages/container/libraries/common/src/common/calculations/isPromise.spec.ts
  packages/container/libraries/common/src/index.ts
  packages/container/libraries/common/src/services/calculations/stringifyServiceIdentifier.spec.ts
  packages/container/libraries/common/src/services/calculations/stringifyServiceIdentifier.ts
  packages/container/libraries/common/src/services/models/LazyServiceIdentifier.spec.ts
  packages/container/libraries/common/src/services/models/LazyServiceIdentifier.ts
  packages/container/libraries/common/src/services/models/ServiceIdentifier.spec-d.ts
  packages/container/libraries/common/src/services/models/ServiceIdentifier.ts
  packages/container/libraries/common/tsconfig.cjs.json
  packages/container/libraries/common/tsconfig.cjs.tsbuildinfo
  packages/container/libraries/common/tsconfig.esm.json
  packages/container/libraries/common/tsconfig.json
Due: @inversifyjs/common

docs: add changesets
  .changeset/short-mice-yell.md
  .changeset/witty-turtles-juggle.md
Due: none

docs: update readme file
  packages/foundation/tools/eslint-plugin-require-extensions/README.md
Due: none

fix: update extension to not to silently remove type nodes
  packages/foundation/tools/eslint-plugin-require-extensions/package.json
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.int.spec.ts
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.ts
Due: none

fix: update extension to not to silently remove type nodes
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.int.spec.ts
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.ts
Due: none

fix: add missing query string check
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.int.spec.ts
  packages/foundation/tools/eslint-plugin-require-extensions/src/rules/requireExtensions.ts
Due: none

refactor: remove unused file
  packages/container/libraries/common/tsconfig.cjs.tsbuildinfo
Due: @inversifyjs/common

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
