Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

refactor: add ActivationSubscriber
  packages/container/libraries/core/src/binding/models/ActivationSubscriber.ts
Due: @inversifyjs/core

refactor: update ActivationsService to receive activation subscribers
  packages/container/libraries/core/src/binding/services/ActivationsService.spec.ts
  packages/container/libraries/core/src/binding/services/ActivationsService.ts
Due: @inversifyjs/core

refactor: add DynamicallyResolvableBindingNode
  packages/container/libraries/core/src/planning/models/DynamicallyResolvableBindingNode.ts
Due: @inversifyjs/core

refactor: add isDynamicallyResolvableBindingNode
  packages/container/libraries/core/src/planning/calculations/isDynamicallyResolvableBindingNode.spec.ts
  packages/container/libraries/core/src/planning/calculations/isDynamicallyResolvableBindingNode.ts
Due: @inversifyjs/core

feat: update blog to show 8.2 announcement
  packages/docs/services/inversify-site/blog/2026-07-15-announcing-inversify-8-2/index.mdx
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

feat: update PlanSingleBindingServiceNodeImplementation update module to handle dynamically resolvable binding nodes
  packages/container/libraries/core/src/planning/models/PlanSingleBindingServiceNode.ts
Due: @inversifyjs/core

feat: update instance resolution flow
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.ts
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolverOnCsp.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.ts
Due: @inversifyjs/core

test: add test cases
  packages/container/libraries/inversify/src/test/bugs/issue_1810.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/libraries/inversify/vitest.config.mjs
Due: none

fix: remove wrong resolver implementation
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.ts
Due: @inversifyjs/core

docs: add Cursor Cloud environment setup notes to AGENTS.md
  AGENTS.md
Due: none

fix: preload reflect-metadata in container e2e tests
  packages/container/tools/e2e-tests/config/cucumber.cjs.config.mjs
  packages/container/tools/e2e-tests/config/cucumber.ts.config.mjs
  packages/container/tools/e2e-tests/package.json
  packages/container/tools/e2e-tests/src/app/setup/reflectMetadata.ts
Due: none

chore: register container e2e reflect-metadata setup in knip entries
  knip.ts
Due: none

refactor: update ResolvedValueBindingNodeImplementation
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.ts
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNodeImplementation.ts
Due: @inversifyjs/core

feat: update ResolvedValueBindingNodeImplementation
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFourResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFourResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolverOnCsp.ts
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNodeImplementation.ts
Due: @inversifyjs/core

fix: update config to properly update openspec skills
  .github/renovate.json
  config/renovate/renovate-global.json
Due: none

chore: downgrade skills
  .agent/skills/openspec-apply-change/SKILL.md
  .agent/skills/openspec-archive-change/SKILL.md
  .agent/skills/openspec-explore/SKILL.md
  .agent/skills/openspec-propose/SKILL.md
Due: none

chore: add no eval integration tests
  packages/container/libraries/core/vitest.config.mjs
  packages/container/libraries/inversify/src/test/container/container.no-eval.int.spec.ts
  packages/container/libraries/inversify/vitest.config.mjs
  packages/foundation/tools/vitest-config/lib/index.js
Due: @inversifyjs/core

fix: wrong config
  packages/container/libraries/core/vitest.config.mjs
  packages/container/libraries/inversify/vitest.config.mjs
Due: @inversifyjs/core

chore: update npmignore without fixtures
  packages/container/libraries/core/.npmignore
Due: @inversifyjs/core

test: add unit test
  packages/container/libraries/core/src/planning/calculations/tryBuildGetPlanOptionsFromBuildServiceNodeOptions.spec.ts
Due: @inversifyjs/core

refactor: update InstanceBindingNodeImplementation
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolverJit.spec.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.spec.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.ts
Due: @inversifyjs/core

refactor: update ResolvedValueBindingNodeImplementation
  packages/container/libraries/core/src/binding/fixtures/ResolvedValueBindingFixtures.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolverJit.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNodeImplementation.spec.ts
  packages/container/libraries/core/src/planning/models/ResolvedValueBindingNodeImplementation.ts
Due: @inversifyjs/core

fix: syntax error
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolver.spec.ts
Due: @inversifyjs/core

chore: update vitest config to exclude fixtures from coverage
  .changeset/lucky-days-ring.md
  packages/foundation/tools/vitest-config/lib/index.js
Due: none

perf: update DynamicValueBinding
  .changeset/cuddly-masks-hammer.md
  packages/container/libraries/core/src/binding/fixtures/DynamicValueBindingFixtures.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsDynamicValueBindingNodeResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsDynamicValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/ConstantValueBindingNode.spec.ts
  packages/container/libraries/core/src/planning/models/DynamicValueBindingNode.spec.ts
  packages/container/libraries/core/src/planning/models/DynamicValueBindingNode.ts
Due: @inversifyjs/core

chore: add container benchmark scenario
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessBaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetComplexAsyncServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetComplexServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetComplexServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetComplexServiceWithPropertiesInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8Jitless/Inversify8JitlessGetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/models/Platform.ts
Due: none

chore: update benchmark scenarios with async flows
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/express/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/fastify/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/hono/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/uwebsockets/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario/currentInversify/AppController.ts
  packages/framework/http/tools/http-benchmarks/src/scenario/nestJs/BasicGetAppModule.ts
Due: none

fix: jit resolution
  .changeset/fix-jit-resolve-many-arity.md
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolverJit.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolveMany.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolveMany.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container.no-eval.int.spec.ts
Due: @inversifyjs/core

test: improve assertions
  packages/container/libraries/core/src/planning/calculations/buildFourConstructorArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolveMany.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeConstructorArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoConstructorArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolver.spec.ts
Due: @inversifyjs/core

fix: remove buggy knip run on docusaurus
  knip.ts
Due: none

feat: add post
  packages/docs/services/inversify-site/blog/2026-07-27-a-year-of-resolution-performance/cover.png
  packages/docs/services/inversify-site/blog/2026-07-27-a-year-of-resolution-performance/index.mdx
  packages/docs/services/inversify-site/blog/tags.yml
Due: none

style: improve mermaid container
  packages/docs/services/inversify-site/src/components/MermaidGraph/index.tsx
  packages/docs/services/inversify-site/src/components/MermaidGraph/styles.module.css
Due: none

feat: add json schema type metadata package
  .changeset/lovely-rice-buy.md
  packages/json-schema/libraries/json-schema-type-metadata/.gitignore
  packages/json-schema/libraries/json-schema-type-metadata/.lintstagedrc.json
  packages/json-schema/libraries/json-schema-type-metadata/.npmignore
  packages/json-schema/libraries/json-schema-type-metadata/README.md
  packages/json-schema/libraries/json-schema-type-metadata/eslint.config.mjs
  packages/json-schema/libraries/json-schema-type-metadata/package.json
  packages/json-schema/libraries/json-schema-type-metadata/prettier.config.mjs
  packages/json-schema/libraries/json-schema-type-metadata/src/index.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/AndTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/AnyTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/ArrayTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/BaseTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/BooleanTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/FloatTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/IntegerTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/LiteralTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/ManyChildrenTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/NoneTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/ObjectTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/OneChildTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/OrTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/PropertyTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/StringIndexSignatureTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/StringTypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/TypeMetadata.ts
  packages/json-schema/libraries/json-schema-type-metadata/src/metadata/models/TypeMetadataKind.ts
  packages/json-schema/libraries/json-schema-type-metadata/tsconfig.esm.json
  packages/json-schema/libraries/json-schema-type-metadata/tsconfig.json
Due: none

feat: add json schema to type metadata package
  .changeset/proud-spies-repeat.md
  packages/json-schema/libraries/json-schema-2-type-metadata/.gitignore
  packages/json-schema/libraries/json-schema-2-type-metadata/.lintstagedrc.json
  packages/json-schema/libraries/json-schema-2-type-metadata/.npmignore
  packages/json-schema/libraries/json-schema-2-type-metadata/README.md
  packages/json-schema/libraries/json-schema-2-type-metadata/eslint.config.mjs
  packages/json-schema/libraries/json-schema-2-type-metadata/package.json
  packages/json-schema/libraries/json-schema-2-type-metadata/prettier.config.mjs
  packages/json-schema/libraries/json-schema-2-type-metadata/src/jsonSchema/202012/actions/transformJsonSchema.spec.ts
  packages/json-schema/libraries/json-schema-2-type-metadata/src/jsonSchema/202012/actions/transformJsonSchema.ts
  packages/json-schema/libraries/json-schema-2-type-metadata/src/jsonSchema/202012/index.ts
  packages/json-schema/libraries/json-schema-2-type-metadata/src/jsonSchema/202012/models/TransformJsonSchemaContext.ts
  packages/json-schema/libraries/json-schema-2-type-metadata/stryker.config.mjs
  packages/json-schema/libraries/json-schema-2-type-metadata/tsconfig.esm.json
  packages/json-schema/libraries/json-schema-2-type-metadata/tsconfig.json
  packages/json-schema/libraries/json-schema-2-type-metadata/vitest.config.mjs
  packages/json-schema/libraries/json-schema-2-type-metadata/vitest.config.stryker.mjs
Due: none

chore: update test config
  codecov.yml
Due: none

style: remove unused eslint directive
  packages/container/libraries/core/src/planning/calculations/resolveMany.ts
Due: @inversifyjs/core

feat: add optional errors to InversifyValidationError
  .changeset/tidy-errors-common.md
  packages/framework/validation/libraries/common/src/error/models/InversifyValidationError.ts
Due: none

feat: add InversifyAjvValidationError
  .changeset/calm-ajv-errors.md
  packages/framework/validation/libraries/ajv/src/index.ts
  packages/framework/validation/libraries/ajv/src/models/InversifyAjvValidationError.ts
  packages/framework/validation/libraries/ajv/src/pipes/AjvCompiledValidationPipe.ts
  packages/framework/validation/libraries/ajv/src/pipes/AjvValidationPipe.spec.ts
  packages/framework/validation/libraries/ajv/src/pipes/AjvValidationPipe.ts
Due: @inversifyjs/ajv-validation

feat: add InversifyClassValidatorValidationError
  .changeset/warm-class-errors.md
  packages/framework/validation/libraries/class-validator/src/index.ts
  packages/framework/validation/libraries/class-validator/src/models/InversifyClassValidationError.ts
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.spec.ts
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.ts
Due: @inversifyjs/class-validation

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
