Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/ajv-validation':
        flags:
          - '@inversifyjs/ajv-validation'
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/class-validation':
        flags:
          - '@inversifyjs/class-validation'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-better-auth':
        flags:
          - '@inversifyjs/http-better-auth'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/http-open-api':
        flags:
          - '@inversifyjs/http-open-api'
      '@inversifyjs/http-validation':
        flags:
          - '@inversifyjs/http-validation'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
      '@inversifyjs/http-sse':
        flags:
          - '@inversifyjs/http-sse'
      '@inversifyjs/standard-schema-validation':
        flags:
          - '@inversifyjs/standard-schema-validation'
flags:
  '@inversifyjs/ajv-validation':
    paths:
      - packages/framework/validation/libraries/ajv
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/class-validation':
    paths:
      - packages/framework/validation/libraries/class-validator
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/core
  '@inversifyjs/http-better-auth':
    paths:
      - packages/framework/http/libraries/better-auth
  '@inversifyjs/http-core':
    paths:
      - packages/framework/http/libraries/core
  '@inversifyjs/http-open-api':
    paths:
      - packages/framework/http/libraries/open-api
  '@inversifyjs/http-sse':
    paths:
      - packages/framework/http/libraries/sse
  '@inversifyjs/http-validation':
    paths:
      - packages/framework/http/libraries/validation
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils
  '@inversifyjs/standard-schema-validation':
    paths:
      - packages/framework/validation/libraries/standard-schema

chore: fix peer dependency conflict
  packages/foundation/tools/eslint-config/package.json
  pnpm-workspace.yaml
Due: none

fix: fix breaking change related issues
  packages/framework/http/libraries/better-auth/src/auth/models/UserSession.ts
  packages/framework/http/libraries/better-auth/src/test/actions/generateBetterAuthMigrations.ts
Due: @inversifyjs/http-better-auth

docs: add blog entry
  packages/docs/services/inversify-site/blog/2026-03-01-announcing-inversify-8-0-0-beta-0/index.mdx
Due: none

feat: update bar to target right announcement
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

style: fix banner on light theme
  packages/docs/services/inversify-site/src/components/FrameworkBanner/styles.module.css
Due: none

docs: update docs with NodeJs nuances
  packages/docs/services/inversify-site/blog/2026-03-01-announcing-inversify-8-0-0-beta-0/index.mdx
Due: none

feat: replace home-header asset
  packages/docs/services/inversify-binding-decorators-site/static/img/home-header.jpg
  packages/docs/services/inversify-framework-site/static/img/home-header.jpg
  packages/docs/services/inversify-site/static/img/home-header.jpg
Due: none

chore: bump versions
  packages/docs/tools/inversify-graphql-code-examples/package.json
  packages/framework/http/tools/http-benchmarks/package.json
Due: none

style: fix lint errors
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1744-containerGetShouldNotComplainAboutFalseCircularDependencies.int.spec.ts
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1864-unbindCallShouldNotTrowPlanningErrorsint.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.spec.ts
  packages/container/libraries/inversify/src/test/annotation/inject.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/injectable.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/multi_inject.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/named.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/post_construct.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/bugs.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_543.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
  packages/container/libraries/inversify/src/test/node/error_messages.int.spec.ts
  packages/container/libraries/inversify/src/test/node/exceptions.int.spec.ts
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/module.spec.ts
  packages/framework/core/src/error-filter/calculations/buildCatchErrorMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataFromOptions.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataSchema.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/BaseOasSchemaProperty.spec.ts
Due: @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-open-api

chore: supress warning
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

chore: exit prerelease
  .changeset/pre.json
Due: none

chore: bump package versions
  .changeset/beige-mugs-sit.md
  .changeset/calm-rivers-arrive.md
  .changeset/deep-groups-mix.md
  .changeset/fiery-pigs-make.md
  .changeset/gold-deer-wink.md
  .changeset/lovely-hotels-enjoy.md
  .changeset/pre.json
  .changeset/short-mice-yell.md
  .changeset/silent-ravens-retire.md
  .changeset/small-readers-raise.md
  .changeset/smooth-crews-sin.md
  .changeset/swift-modules-drop.md
  .changeset/tall-cameras-wave.md
  .changeset/tiny-zebras-stay.md
  .changeset/twenty-towns-dance.md
  .changeset/vast-dancers-exist.md
  .changeset/wet-pants-cheer.md
  .changeset/witty-turtles-juggle.md
  packages/container/libraries/binding-decorators/CHANGELOG.md
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/CHANGELOG.md
  packages/container/libraries/common/package.json
  packages/container/libraries/container/CHANGELOG.md
  packages/container/libraries/container/package.json
  packages/container/libraries/core/CHANGELOG.md
  packages/container/libraries/core/package.json
  packages/container/libraries/inversify/CHANGELOG.md
  packages/container/libraries/inversify/package.json
  packages/container/libraries/plugin-dispose/CHANGELOG.md
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin/CHANGELOG.md
  packages/container/libraries/plugin/package.json
  packages/foundation/libraries/prototype-utils/CHANGELOG.md
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/CHANGELOG.md
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/tools/eslint-plugin-require-extensions/CHANGELOG.md
  packages/foundation/tools/eslint-plugin-require-extensions/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils

chore: update Binding type without Provider
  packages/container/libraries/core/src/binding/models/BindingType.ts
Due: @inversifyjs/core

chore: add missing eslint-config changeset
  .changeset/cool-swans-jog.md
Due: none

feat: migrate strongly typed
  .changeset/migrate-strongly-typed-to-inversify-v8.md
  packages/container/libraries/strongly-typed/package.json
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/container.ts
  packages/container/libraries/strongly-typed/src/module.spec.ts
  packages/container/libraries/strongly-typed/src/module.ts
Due: none

feat: expose AbstractNewable
  .changeset/shiny-roses-heal.md
  packages/container/libraries/inversify/eslint.config.mjs
  packages/container/libraries/inversify/src/index.ts
Due: none

feat: update inversify peer dependency to v8
  .changeset/deep-tables-dress.md
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.ts
  packages/docs/tools/binding-decorators-code-examples/package.json
Due: @inversifyjs/binding-decorators

fix: fix code example
  packages/docs/tools/binding-decorators-code-examples/src/examples/v1/gettingStartedWithBindingDecorators.ts
Due: none

chore: update inversify-deps
  .changeset/migrate-plugin-dispose-to-inversify-v8.md
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-usage-example/package.json
  packages/container/libraries/plugin-dispose/package.json
Due: @inversifyjs/plugin-dispose

chore: migrate logger to ESM only
  .changeset/yellow-worms-cough.md
  packages/logger/.gitignore
  packages/logger/.npmignore
  packages/logger/eslint.config.mjs
  packages/logger/package.json
  packages/logger/rollup.config.mjs
  packages/logger/src/index.ts
  packages/logger/src/logger/adapter/winston/adapters/ConsoleLogger.ts
  packages/logger/src/logger/adapter/winston/adapters/FileLogger.ts
  packages/logger/src/logger/adapter/winston/adapters/HttpLogger.ts
  packages/logger/src/logger/adapter/winston/adapters/StreamLogger.ts
  packages/logger/src/logger/adapter/winston/adapters/WinstonLoggerAdapter.int.spec.ts
  packages/logger/src/logger/adapter/winston/adapters/WinstonLoggerAdapter.ts
  packages/logger/src/logger/models/Logger.ts
  packages/logger/src/logger/modules/LoggerAdapter.spec.ts
  packages/logger/src/logger/modules/LoggerAdapter.ts
  packages/logger/src/model/LoggerOptions.ts
  packages/logger/tsconfig.cjs.json
  packages/logger/tsconfig.cjs.tsbuildinfo
  packages/logger/tsconfig.esm.json
  packages/logger/tsconfig.json
Due: @inversifyjs/logger

refactor: remove config file
  packages/logger/tsconfig.cjs.tsbuildinfo
Due: @inversifyjs/logger

chore: update npmignore to ignore test typings
  packages/logger/.npmignore
Due: @inversifyjs/logger

chore: ignore test typings
  .changeset/ignore-test-typings.md
  packages/container/examples/plugin-example/.npmignore
  packages/container/examples/plugin-usage-example/.npmignore
  packages/container/libraries/binding-decorators/.npmignore
  packages/container/libraries/common/.npmignore
  packages/container/libraries/container/.npmignore
  packages/container/libraries/core/.npmignore
  packages/container/libraries/inversify/.npmignore
  packages/container/libraries/plugin-dispose/.npmignore
  packages/container/libraries/plugin/.npmignore
  packages/container/libraries/strongly-typed/.npmignore
  packages/docs/tools/binding-decorators-code-examples/.npmignore
  packages/docs/tools/code-examples-devkit/.npmignore
  packages/docs/tools/inversify-code-examples/.npmignore
  packages/docs/tools/inversify-graphql-code-examples/.npmignore
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/plugin-dispose

chore: ignore test modules
  packages/container/examples/plugin-example/.npmignore
  packages/container/examples/plugin-usage-example/.npmignore
  packages/container/libraries/binding-decorators/.npmignore
  packages/container/libraries/common/.npmignore
  packages/container/libraries/container/.npmignore
  packages/container/libraries/core/.npmignore
  packages/container/libraries/inversify/.npmignore
  packages/container/libraries/plugin-dispose/.npmignore
  packages/container/libraries/plugin/.npmignore
  packages/container/libraries/strongly-typed/.npmignore
  packages/docs/tools/binding-decorators-code-examples/.npmignore
  packages/docs/tools/code-examples-devkit/.npmignore
  packages/docs/tools/inversify-code-examples/.npmignore
  packages/docs/tools/inversify-graphql-code-examples/.npmignore
  packages/docs/tools/inversify-http-code-examples/.npmignore
  packages/docs/tools/inversify-http-open-api-code-examples/.npmignore
  packages/docs/tools/inversify-logger-code-examples/.npmignore
  packages/docs/tools/inversify-validation-code-examples/.npmignore
  packages/foundation/libraries/prototype-utils/.npmignore
  packages/foundation/libraries/reflect-metadata-utils/.npmignore
  packages/foundation/tools/eslint-plugin-require-extensions/.npmignore
  packages/framework/core/.npmignore
  packages/framework/http/libraries/better-auth/.npmignore
  packages/framework/http/libraries/core/.npmignore
  packages/framework/http/libraries/express-v4/.npmignore
  packages/framework/http/libraries/express/.npmignore
  packages/framework/http/libraries/fastify/.npmignore
  packages/framework/http/libraries/hono/.npmignore
  packages/framework/http/libraries/open-api/.npmignore
  packages/framework/http/libraries/sse/.npmignore
  packages/framework/http/libraries/uwebsockets/.npmignore
  packages/framework/http/libraries/validation/.npmignore
  packages/framework/http/tools/http-openapi-example/.npmignore
  packages/framework/validation/libraries/ajv/.npmignore
  packages/framework/validation/libraries/class-validator/.npmignore
  packages/framework/validation/libraries/common/.npmignore
  packages/framework/validation/libraries/standard-schema/.npmignore
  packages/logger/.npmignore
Due: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

chore: update inversify code runner to v8
  packages/docs/services/inversify-site/docs/internals/planning.mdx
  packages/docs/services/inversify-site/docs/introduction/getting-started.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/internals/planning.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/introduction/getting-started.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-7.x/fundamentals/planning.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-7.x/internals/planning.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-8.x/internals/planning.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-8.x/introduction/getting-started.mdx
  packages/docs/services/inversify-site/src/components/DocusaurusInversifyCodeEditor/index.tsx
  packages/docs/services/inversify-site/versioned_docs/version-7.x/internals/planning.mdx
  packages/docs/services/inversify-site/versioned_docs/version-8.x/internals/planning.mdx
  packages/docs/services/inversify-site/versioned_docs/version-8.x/introduction/getting-started.mdx
  packages/docs/tools/react-code-runner/package.json
Due: none

fix: wrong changeset
  .changeset/shiny-roses-heal.md
Due: none

chore: update logger
  packages/framework/http/libraries/uwebsockets/package.json
Due: none

docs: add changeset
  .changeset/nice-items-itch.md
Due: none

chore: bump inversify deps
  packages/docs/tools/inversify-graphql-code-examples/package.json
  packages/docs/tools/inversify-graphql-code-examples/src/examples/latest/gettingStarted.mts
Due: none

docs: add blog entry
  packages/docs/services/inversify-site/blog/2026-03-16-announcing-inversify-8-0-0/index.mdx
  packages/docs/services/inversify-site/docusaurus.config.ts
Due: none

chore: add sponsors wall gh action
  .gitattributes
  .github/workflows/sponsors-wall.yml
  sponsorkit.config.js
Due: none

chore: update codecov/codecov-action version comment
  .github/workflows/collect-coverage.yaml
Due: none

chore: update sponsor wall workflow to use GH_APP_TOKEN to access GH sponsors
  .github/workflows/sponsors-wall.yml
Due: none

chore: fix git command usage
  .github/workflows/sponsors-wall.yml
Due: none

fix: wall sponsors action
  .github/workflows/sponsors-wall.yml
  package.json
  pnpm-workspace.yaml
  sponsorkit.config.js
Due: none

fix: update past sponsors tier with no monthly dollar property
  sponsorkit.config.js
Due: none

fix: rely on SPONSORKIT_GITHUB_TOKEN secret
  .github/workflows/sponsors-wall.yml
Due: none

docs: update readme with sponsors section
  packages/container/libraries/inversify/README.md
Due: none

feat: update inversify docs with sponsors section
  packages/docs/services/inversify-site/customLoaders.d.ts
  packages/docs/services/inversify-site/docusaurus.config.ts
  packages/docs/services/inversify-site/src/components/HomepageSponsors/index.tsx
  packages/docs/services/inversify-site/src/components/HomepageSponsors/styles.module.css
  packages/docs/services/inversify-site/src/pages/index.tsx
  packages/docs/services/inversify-site/static/img/sponsors.svg
Due: none
