Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/ajv-validation':
        flags:
          - '@inversifyjs/ajv-validation'
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/class-validation':
        flags:
          - '@inversifyjs/class-validation'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-better-auth':
        flags:
          - '@inversifyjs/http-better-auth'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/http-open-api':
        flags:
          - '@inversifyjs/http-open-api'
      '@inversifyjs/http-validation':
        flags:
          - '@inversifyjs/http-validation'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
      '@inversifyjs/http-sse':
        flags:
          - '@inversifyjs/http-sse'
      '@inversifyjs/standard-schema-validation':
        flags:
          - '@inversifyjs/standard-schema-validation'
flags:
  '@inversifyjs/ajv-validation':
    paths:
      - packages/framework/validation/libraries/ajv
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/class-validation':
    paths:
      - packages/framework/validation/libraries/class-validator
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/core
  '@inversifyjs/http-better-auth':
    paths:
      - packages/framework/http/libraries/better-auth
  '@inversifyjs/http-core':
    paths:
      - packages/framework/http/libraries/core
  '@inversifyjs/http-open-api':
    paths:
      - packages/framework/http/libraries/open-api
  '@inversifyjs/http-sse':
    paths:
      - packages/framework/http/libraries/sse
  '@inversifyjs/http-validation':
    paths:
      - packages/framework/http/libraries/validation
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils
  '@inversifyjs/standard-schema-validation':
    paths:
      - packages/framework/validation/libraries/standard-schema

feat: update inversify framework docs with sponsors section
  packages/docs/services/inversify-framework-site/customLoaders.d.ts
  packages/docs/services/inversify-framework-site/docusaurus.config.ts
  packages/docs/services/inversify-framework-site/src/components/HomepageSponsors/index.tsx
  packages/docs/services/inversify-framework-site/src/components/HomepageSponsors/styles.module.css
  packages/docs/services/inversify-framework-site/src/pages/index.tsx
  packages/docs/services/inversify-framework-site/static/img/sponsors.svg
Due: none

fix: update sponsor section to be responsive
  packages/docs/services/inversify-framework-site/src/components/HomepageSponsors/index.tsx
  packages/docs/services/inversify-framework-site/src/components/HomepageSponsors/styles.module.css
  packages/docs/services/inversify-site/src/components/HomepageSponsors/index.tsx
  packages/docs/services/inversify-site/src/components/HomepageSponsors/styles.module.css
Due: none

chore: remove unused module
  packages/framework/http/tools/http-benchmarks/src/index.ts
Due: none

fix: restore used index module
  knip.ts
  packages/framework/http/tools/http-benchmarks/src/index.ts
Due: none

chore: add openspec config
  .agent/skills/openspec-apply-change/SKILL.md
  .agent/skills/openspec-archive-change/SKILL.md
  .agent/skills/openspec-explore/SKILL.md
  .agent/skills/openspec-propose/SKILL.md
  .agent/workflows/opsx-apply.md
  .agent/workflows/opsx-archive.md
  .agent/workflows/opsx-explore.md
  .agent/workflows/opsx-propose.md
  .gemini/commands/opsx/apply.toml
  .gemini/commands/opsx/archive.toml
  .gemini/commands/opsx/explore.toml
  .gemini/commands/opsx/propose.toml
  .gemini/skills/openspec-apply-change/SKILL.md
  .gemini/skills/openspec-archive-change/SKILL.md
  .gemini/skills/openspec-explore/SKILL.md
  .gemini/skills/openspec-propose/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  AGENTS.md
  openspec/config.yaml
  package.json
  pnpm-workspace.yaml
Due: none

fix: apply change suggestions
  .agent/skills/openspec-apply-change/SKILL.md
  .agent/skills/openspec-archive-change/SKILL.md
  .agent/skills/openspec-explore/SKILL.md
  .agent/skills/openspec-propose/SKILL.md
  .agent/workflows/opsx-apply.md
  .agent/workflows/opsx-archive.md
  .agent/workflows/opsx-explore.md
  .agent/workflows/opsx-propose.md
  .gemini/commands/opsx/apply.toml
  .gemini/commands/opsx/archive.toml
  .gemini/commands/opsx/explore.toml
  .gemini/commands/opsx/propose.toml
  .gemini/skills/openspec-apply-change/SKILL.md
  .gemini/skills/openspec-archive-change/SKILL.md
  .gemini/skills/openspec-explore/SKILL.md
  .gemini/skills/openspec-propose/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  knip.ts
Due: none

docs: add http route value metadata change
  openspec/changes/add-http-route-value-metadata/.openspec.yaml
  openspec/changes/add-http-route-value-metadata/design.md
  openspec/changes/add-http-route-value-metadata/proposal.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-adapters/spec.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-core/spec.md
  openspec/changes/add-http-route-value-metadata/tasks.md
Due: none

docs: update proposal to include uwebsockets
  openspec/changes/add-http-route-value-metadata/design.md
  openspec/changes/add-http-route-value-metadata/proposal.md
  openspec/changes/add-http-route-value-metadata/tasks.md
Due: none

feat: add routeValueMetadata
  .changeset/tiny-cloths-hammer.md
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/core/src/http/actions/setRouteValueMetadata.spec.ts
  packages/framework/http/libraries/core/src/http/actions/setRouteValueMetadata.ts
  packages/framework/http/libraries/core/src/http/decorators/routeValueMetadata.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/routeValueMetadata.ts
  packages/framework/http/libraries/core/src/http/models/routeValueMetadataSymbol.ts
  packages/framework/http/libraries/core/src/index.ts
  packages/framework/http/libraries/core/src/reflectMetadata/data/routeValueMetadataReflectKey.ts
Due: @inversifyjs/http-core

feat: update RouterExplorerControllerMethodMetadata with routeValueMetadataMap
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodRouteValueMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMethodRouteValueMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

feat: update InversifyHttpAdapter with _getRouteValueMetadataHandler
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/models/RouteParams.ts
Due: @inversifyjs/http-core

feat: update InversifyExpressHttpAdapter with _getRouteValueMetadataHandler
  .changeset/full-jars-make.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-adapters/spec.md
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/core/src/index.ts
  packages/framework/http/libraries/core/src/valueMetadata/calculations/createRouteValueMetadataUtils.spec.ts
  packages/framework/http/libraries/core/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
Due: @inversifyjs/http-core

feat: update InversifyExpressHttpAdapter with _getRouteValueMetadataHandler
  openspec/changes/add-http-route-value-metadata/design.md
  openspec/changes/add-http-route-value-metadata/proposal.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-adapters/spec.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-core/spec.md
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
Due: none

feat: update inversify http adapters with _getRouteValueMetadataHandler
  openspec/changes/add-http-route-value-metadata/design.md
  openspec/changes/add-http-route-value-metadata/proposal.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-adapters/spec.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-core/spec.md
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: none

feat: added createRouteValueMetadataUtils
  .changeset/modern-parks-help.md
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/express-v4/src/index.ts
  packages/framework/http/libraries/express-v4/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
  packages/framework/http/libraries/express/src/index.ts
  packages/framework/http/libraries/express/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
  packages/framework/http/libraries/fastify/src/index.ts
  packages/framework/http/libraries/fastify/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
  packages/framework/http/libraries/hono/src/index.ts
  packages/framework/http/libraries/hono/src/valueMetadata/calculations/createRouteValueMetadataUtils.spec.ts
  packages/framework/http/libraries/hono/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
  packages/framework/http/libraries/uwebsockets/src/index.ts
  packages/framework/http/libraries/uwebsockets/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
Due: none

feat: update hono createRouteValueMetadataUtils
  openspec/changes/add-http-route-value-metadata/design.md
  openspec/changes/add-http-route-value-metadata/proposal.md
  openspec/changes/add-http-route-value-metadata/specs/http-route-value-metadata-adapters/spec.md
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/hono/src/valueMetadata/calculations/createRouteValueMetadataUtils.spec.ts
  packages/framework/http/libraries/hono/src/valueMetadata/calculations/createRouteValueMetadataUtils.ts
  packages/framework/http/tools/e2e-tests/src/warrior/route-value-metadata/decorators/honoRoles.ts
  packages/framework/http/tools/e2e-tests/src/warrior/route-value-metadata/middlewares/hono/RouteValueMetadataHonoMiddleware.ts
Due: none

feat: update make route value metadata fields to be mandatory
  openspec/changes/add-http-route-value-metadata/tasks.md
  packages/framework/http/libraries/core/src/http/models/RouteParams.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/RouterExplorerControllerMethodMetadata.ts
Due: @inversifyjs/http-core

docs: update change
  openspec/changes/add-http-route-value-metadata/tasks.md
Due: none

fix: update http adapters
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/decoratorApiNextHono.ts
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-core

fix: update SwaggerUiProvider to properly traverse property schema metadata
  .changeset/good-plums-care.md
  packages/framework/http/libraries/open-api/src/openApi/actions/mergeOpenApiTypeSchema.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/mergeOpenApiTypeSchema.ts
Due: @inversifyjs/http-open-api

chore: ignore sponsors cache file
  .gitignore
Due: none

chore: remove swl plugin from vitest config
  packages/foundation/tools/vitest-config/lib/index.js
  packages/foundation/tools/vitest-config/package.json
  pnpm-workspace.yaml
Due: none

docs: add api utils doc page
  packages/docs/services/inversify-framework-site/docs/api/utils.mdx
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsExpress.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsExpress.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsExpress4.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsExpress4.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsFastify.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsFastify.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsHono.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsHono.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsUwebsockets.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/createRouteValueMetadataUtilsUwebsockets.ts
Due: none

docs: add missing changeset
  .changeset/polite-cloths-bet.md
Due: none

fix: update InversifyHonoHttpAdapter
  .changeset/lazy-paths-peel.md
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.int.spec.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

test: update test to shut server
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.int.spec.ts
Due: none

chore: update package to be ESM only
  .changeset/migrate-json-schema-pointer-esm.md
  packages/foundation/tools/changelog-generator/src/index.ts
  packages/json-schema/libraries/json-schema-pointer/.gitignore
  packages/json-schema/libraries/json-schema-pointer/.npmignore
  packages/json-schema/libraries/json-schema-pointer/eslint.config.mjs
  packages/json-schema/libraries/json-schema-pointer/package.json
  packages/json-schema/libraries/json-schema-pointer/rollup.config.mjs
  packages/json-schema/libraries/json-schema-pointer/src/escapeJsonPointerFragments.spec.ts
  packages/json-schema/libraries/json-schema-pointer/src/index.ts
  packages/json-schema/libraries/json-schema-pointer/tsconfig.cjs.json
  packages/json-schema/libraries/json-schema-pointer/tsconfig.esm.json
  packages/json-schema/libraries/json-schema-pointer/tsconfig.json
Due: none

style: fix linter issue
  packages/json-schema/libraries/json-schema-pointer/src/resolveJsonPointer.spec.ts
  packages/json-schema/libraries/json-schema-pointer/src/resolveJsonPointer.ts
Due: none

chore: update package to be ESM only
  .changeset/migrate-changelog-generator-esm.md
  packages/foundation/tools/changelog-generator/.gitignore
  packages/foundation/tools/changelog-generator/.npmignore
  packages/foundation/tools/changelog-generator/eslint.config.mjs
  packages/foundation/tools/changelog-generator/package.json
  packages/foundation/tools/changelog-generator/rollup.config.mjs
  packages/foundation/tools/changelog-generator/tsconfig.cjs.json
  packages/foundation/tools/changelog-generator/tsconfig.esm.json
  packages/foundation/tools/changelog-generator/tsconfig.json
Due: none

chore: update package to be ESM only
  .changeset/migrate-json-schema-types-esm.md
  packages/json-schema/libraries/json-schema-types/.gitignore
  packages/json-schema/libraries/json-schema-types/.npmignore
  packages/json-schema/libraries/json-schema-types/202012.rollup.config.mjs
  packages/json-schema/libraries/json-schema-types/eslint.config.mjs
  packages/json-schema/libraries/json-schema-types/package.json
  packages/json-schema/libraries/json-schema-types/rollup.config.mjs
  packages/json-schema/libraries/json-schema-types/src/index.ts
  packages/json-schema/libraries/json-schema-types/src/jsonSchema/202012/index.ts
  packages/json-schema/libraries/json-schema-types/src/jsonSchema/202012/models/JsonSchema.ts
  packages/json-schema/libraries/json-schema-types/tsconfig.cjs.json
  packages/json-schema/libraries/json-schema-types/tsconfig.esm.json
  packages/json-schema/libraries/json-schema-types/tsconfig.json
  pnpm-workspace.yaml
Due: none

chore: remove duplicated line
  packages/json-schema/libraries/json-schema-types/.npmignore
Due: none

chore: update package to be ESM only
  packages/foundation/libraries/benchmark-utils/.gitignore
  packages/foundation/libraries/benchmark-utils/.npmignore
  packages/foundation/libraries/benchmark-utils/eslint.config.mjs
  packages/foundation/libraries/benchmark-utils/package.json
  packages/foundation/libraries/benchmark-utils/rollup.config.mjs
  packages/foundation/libraries/benchmark-utils/src/benchmark/calculations/buildBenchmark.ts
  packages/foundation/libraries/benchmark-utils/src/benchmark/calculations/printBenchmarkResults.ts
  packages/foundation/libraries/benchmark-utils/src/index.ts
  packages/foundation/libraries/benchmark-utils/tsconfig.cjs.json
  packages/foundation/libraries/benchmark-utils/tsconfig.esm.json
  packages/foundation/libraries/benchmark-utils/tsconfig.json
Due: none

style: fix linter issues
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/PluginManager.spec.ts
  packages/container/libraries/inversify/src/test/node/proxies.int.spec.ts
Due: @inversifyjs/container

fix: fix OpenApi3Dot2SecuritySchemeObjectApiKey
  packages/open-api/libraries/open-api-types/src/openApi/v3Dot2/index.ts
  packages/open-api/libraries/open-api-types/src/openApi/v3Dot2/models/OpenApi3Dot2SecuritySchemeObjectApiKey.ts
  packages/open-api/libraries/open-api-types/src/openApi/v3Dot2/models/OpenApi3Dot2SecuritySchemeObjectApiKeyIn.ts
Due: none

fix: fix OpenApi3Dot1SecuritySchemeObjectApiKey
  packages/open-api/libraries/open-api-types/src/openApi/v3Dot1/index.ts
  packages/open-api/libraries/open-api-types/src/openApi/v3Dot1/models/OpenApi3Dot1SecuritySchemeObjectApiKey.ts
  packages/open-api/libraries/open-api-types/src/openApi/v3Dot1/models/OpenApi3Dot1SecuritySchemeObjectApiKeyIn.ts
Due: none
