Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

fix: remove unused deps and exports
  packages/docs/services/inversify-site/package.json
  packages/docs/services/inversify-site/src/components/Button/index.tsx
  packages/docs/tools/react-code-runner/src/actions/createRcpWorker.ts
Due: none

fix: update MermaidGraph to react on container id updates
  packages/docs/services/inversify-site/src/components/MermaidGraph/index.tsx
Due: none

fix: update generated flow chart with br tag usage
  packages/docs/services/inversify-site/src/components/DocusaurusInversifyCodeEditor/buildMermaidFlowChart.ts
Due: none

fix: update escape mermaid string
  packages/docs/services/inversify-site/src/components/DocusaurusInversifyCodeEditor/buildMermaidFlowChart.ts
Due: none

fix: update clone with recursion detection
  packages/docs/tools/react-code-runner/src/clone/calculations/clone.ts
Due: none

fix: update code editor component
  packages/docs/tools/react-code-runner/src/components/InversifyCodeEditor/index.tsx
Due: none

fix: update InversifyCodeEditor to update onPlan accordingly
  packages/docs/tools/react-code-runner/src/components/InversifyCodeEditor/index.tsx
Due: none

fix: update clone to set cache entries
  packages/docs/tools/react-code-runner/src/clone/calculations/clone.ts
Due: none

chore: update renovate config with group
  .github/renovate.json
Due: none

test: fix typing issue
  packages/framework/http/libraries/hono/src/middlewares/CorsMiddleware.int.spec.ts
Due: none

chore: update vitest to 4.0.16
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/core/src/error/calculations/isStackOverflowError.ts
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-open-api-code-examples/package.json
  packages/docs/tools/inversify-logger-code-examples/package.json
  packages/docs/tools/inversify-validation-code-examples/package.json
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/tools/vitest-config/package.json
  packages/framework/core/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/core/package.json
  packages/framework/http/libraries/express-v4/package.json
  packages/framework/http/libraries/express/package.json
  packages/framework/http/libraries/fastify/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/uwebsockets/package.json
  packages/framework/http/libraries/validation/package.json
  packages/framework/validation/libraries/ajv/package.json
  packages/framework/validation/libraries/class-validator/package.json
  packages/framework/validation/libraries/standard-schema/package.json
  packages/json-schema/libraries/json-schema-pointer/package.json
  packages/logger/package.json
Due: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

chore: bump vitest
  packages/container/libraries/inversify/package.json
Due: none

refactor: update adapters to rely on non abstract build
  .changeset/config.json
  .changeset/eleven-dryers-return.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-core

style: fix linter issues
  packages/container/libraries/container/src/container/services/BindingManager.spec.ts
  packages/container/libraries/container/src/container/services/Container.int.spec.ts
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1744-containerGetShouldNotComplainAboutFalseCircularDependencies.int.spec.ts
  packages/container/libraries/container/src/issues/inversify-InversifyJs-issue-1864-unbindCallShouldNotTrowPlanningErrorsint.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPostConstructor.spec.ts
  packages/container/libraries/core/src/metadata/actions/updateMaybeClassMetadataPreDestroy.spec.ts
  packages/container/libraries/inversify/src/test/annotation/inject.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/injectable.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/multi_inject.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/named.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/post_construct.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/bugs.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_543.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
  packages/container/libraries/inversify/src/test/node/error_messages.int.spec.ts
  packages/container/libraries/inversify/src/test/node/exceptions.int.spec.ts
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/module.spec.ts
  packages/framework/core/src/error-filter/calculations/buildCatchErrorMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataFromOptions.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/updateSchemaMetadataSchema.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/BaseOasSchemaProperty.spec.ts
Due: @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-open-api

fix: update circular dependency detection to handle V8 issues
  .changeset/major-chairs-press.md
  packages/container/libraries/core/src/error/calculations/isStackOverflowError.ts
  packages/container/libraries/inversify/package.json
Due: @inversifyjs/core

fix: check SyntaxError instead of TypeError
  packages/container/libraries/core/src/error/calculations/isStackOverflowError.ts
Due: @inversifyjs/core

refactor: update InversifyHttpAdapter build to inline _buildServer
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

chore: update rollup config to be released
  .changeset/khaki-birds-juggle.md
  packages/foundation/tools/rollup-config/package.json
Due: none

chore: update changelog generator to be released
  .changeset/stale-lions-trade.md
  packages/foundation/tools/changelog-generator/package.json
Due: none

chore: update renovate to remove vitest from quarantine packages
  .github/renovate.json
Due: none

fix: update ResolvedValueMetadataInjectOptions
  .changeset/gentle-regions-stop.md
  docs/setup.md
  packages/container/libraries/container/src/binding/models/BindingFluentSyntax.spec-d.ts
  packages/container/libraries/container/src/binding/models/ResolvedValueInjectOptions.ts
Due: @inversifyjs/container

feat: update InversifyHttpAdapter to bind server
  .changeset/cool-keys-like.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/models/httpServerServiceIdentifier.ts
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

fix: wrong service identifier export
  .changeset/brave-pans-relax.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/models/httpApplicationServiceIdentifier.ts
  packages/framework/http/libraries/core/src/http/models/httpServerServiceIdentifier.ts
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

chore: add graphql code examples package
  knip.ts
  packages/docs/tools/inversify-graphql-code-examples/.gitignore
  packages/docs/tools/inversify-graphql-code-examples/.lintstagedrc.json
  packages/docs/tools/inversify-graphql-code-examples/.npmignore
  packages/docs/tools/inversify-graphql-code-examples/README.md
  packages/docs/tools/inversify-graphql-code-examples/eslint.config.mjs
  packages/docs/tools/inversify-graphql-code-examples/package.json
  packages/docs/tools/inversify-graphql-code-examples/prettier.config.mjs
  packages/docs/tools/inversify-graphql-code-examples/src/examples/latest/gettingStarted.mts
  packages/docs/tools/inversify-graphql-code-examples/src/scripts/generateExamples/index.mts
  packages/docs/tools/inversify-graphql-code-examples/tsconfig.cjs.json
  packages/docs/tools/inversify-graphql-code-examples/tsconfig.esm.json
  packages/docs/tools/inversify-graphql-code-examples/tsconfig.json
  packages/docs/tools/inversify-graphql-code-examples/vitest.config.mjs
  turbo.json
Due: none

feat: add graphql docs
  knip.ts
  packages/docs/services/inversify-framework-site/docusaurus.config.ts
  packages/docs/services/inversify-framework-site/graphql-docs/api/_category_.json
  packages/docs/services/inversify-framework-site/graphql-docs/api/apollo-core.mdx
  packages/docs/services/inversify-framework-site/graphql-docs/api/apollo-express.mdx
  packages/docs/services/inversify-framework-site/graphql-docs/api/apollo-fastify.mdx
  packages/docs/services/inversify-framework-site/graphql-docs/api/apollo-subscription-ws.mdx
  packages/docs/services/inversify-framework-site/graphql-docs/introduction/_category_.json
  packages/docs/services/inversify-framework-site/graphql-docs/introduction/getting-started.mdx
  packages/docs/services/inversify-framework-site/package.json
  packages/docs/services/inversify-framework-site/sidebarsGraphql.ts
  turbo.json
Due: none

fix: apply code suggestions
  packages/docs/services/inversify-framework-site/graphql-docs/api/apollo-core.mdx
  packages/docs/services/inversify-framework-site/sidebarsGraphql.ts
  packages/docs/tools/binding-decorators-code-examples/README.md
  packages/docs/tools/code-examples-devkit/README.md
  packages/docs/tools/inversify-code-examples/README.md
  packages/docs/tools/inversify-graphql-code-examples/.npmignore
  packages/docs/tools/inversify-graphql-code-examples/README.md
  packages/docs/tools/inversify-http-code-examples/README.md
  packages/docs/tools/inversify-http-open-api-code-examples/README.md
  packages/docs/tools/inversify-logger-code-examples/README.md
  packages/docs/tools/inversify-validation-code-examples/README.md
  turbo.json
Due: none

chore: remove unused deps
  packages/docs/tools/inversify-graphql-code-examples/package.json
Due: none

fix: inversify site knip config
  knip.ts
Due: none

feat: add missing translations
  packages/docs/services/inversify-site/i18n/zh/code.json
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/binding.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-7.x/fundamentals/binding.mdx
Due: none

feat: add missing translation
  packages/docs/services/inversify-site/i18n/zh/code.json
Due: none

chore: update benchmarks vus
  .github/workflows/build.yaml
  packages/framework/http/tools/http-benchmarks/package.json
Due: none

fix: fix integration tests with missing origin headers
  packages/framework/http/libraries/better-auth/src/auth/decorators/ExpressUserSession.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/FastifyUserSession.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/decorators/HonoUserSession.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpress4ContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthUwebSocketsContainerModule.int.spec.ts
Due: @inversifyjs/http-better-auth

chore: update benchmarks task
  .github/workflows/build.yaml
Due: none

feat: add v6 translations
  packages/docs/services/inversify-site/i18n/zh/code.json
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x.json
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/binding-syntax.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/container-module.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/container.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/decorator.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/lazy-service-identifier.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/service-identifier.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/binding.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/inheritance.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/lifecycle/_category_.json
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/lifecycle/activation.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/lifecycle/deactivation.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/lifecycle/middleware.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/snapshot.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/introduction/dependency-inversion.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/introduction/getting-started.mdx
  packages/docs/services/inversify-site/src/components/FrameworkBanner/index.tsx
  packages/docs/services/inversify-site/src/components/HomepageFeatures/index.tsx
  packages/docs/services/inversify-site/src/components/HomepageHeader/index.tsx
Due: none

style: fix incorrect sentence
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/api/lazy-service-identifier.mdx
Due: none

fix: fix graphql example
  packages/docs/tools/inversify-graphql-code-examples/src/examples/latest/gettingStarted.mts
Due: none

docs: add mercurius integration FAQ entry
  packages/docs/services/inversify-framework-site/graphql-docs/faq/_category_.json
  packages/docs/services/inversify-framework-site/graphql-docs/faq/mercurius.mdx
  packages/docs/tools/inversify-graphql-code-examples/package.json
  packages/docs/tools/inversify-graphql-code-examples/src/examples/latest/mercurius/mercuriusGraphqlServer.mts
Due: none

style: update knip config to rely on WorkspaceProjectConfig
  knip.ts
Due: none

style: disable vitest rule
  packages/foundation/tools/eslint-config/index.js
Due: none

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
