Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

style: update bindingScope usages
  packages/container/libraries/container/src/issues/containerGetShouldNotInstantiateAsyncSingletonBindingsTwice.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1416.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_549.int.spec.ts
  packages/framework/http/libraries/core/src/middleware/actions/handleMiddlewareList.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/currentInversifyExpress/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/currentInversifyExpress4/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/currentInversifyFastify/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/currentInversifyHono/setupBasicGetScenario.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/currentInversifyUwebsockets/setupBasicGetScenario.ts
Due: @inversifyjs/container, @inversifyjs/http-core

refactor: update ControllerOptions with optional priority
  packages/framework/http/libraries/core/src/http/models/ControllerOptions.ts
Due: @inversifyjs/http-core

refactor: update ControllerMetadata with priority
  .changeset/beige-files-follow.md
  packages/framework/http/libraries/core/src/http/decorators/Controller.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Controller.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/buildRouterExplorerControllerMethodMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/ControllerMetadata.ts
  packages/framework/http/libraries/open-api/src/openApi/services/SwaggerUiProvider.spec.ts
Due: @inversifyjs/http-core, @inversifyjs/http-open-api

feat: update getControllerMetadataList
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMetadataList.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/calculations/getControllerMetadataList.ts
Due: @inversifyjs/http-core

feat: add code examples
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiPriority.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiPriority.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiPriorityExpress5.int.spec.ts
  packages/docs/tools/inversify-http-code-examples/src/examples/v0/controllerApiPriorityExpress5.ts
Due: none

docs: update decorators docs with controller
  packages/docs/services/inversify-framework-site/docs/api/decorators.mdx
Due: none

docs: update controller docs
  packages/docs/services/inversify-framework-site/docs/fundamentals/controller.mdx
Due: none

feat: update CustomParameterDecoratorHandler with options param
  .changeset/metal-shirts-enjoy.md
  packages/foundation/tools/rollup-config/lib/index.js
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildInterceptedHandler.ts
  packages/framework/http/libraries/core/src/http/models/CustomParameterDecoratorHandler.ts
  packages/framework/http/libraries/core/src/http/models/CustomParameterDecoratorHandlerOptions.ts
  packages/framework/http/libraries/core/src/index.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-core

style: update dependency comment
  .github/workflows/build.yaml
  .github/workflows/collect-coverage.yaml
  .github/workflows/deploy-binding-decorators-pages.yaml
  .github/workflows/deploy-inversify-framework-pages.yaml
  .github/workflows/deploy-inversify-pages.yaml
  .github/workflows/publish.yaml
Due: none

feat: expose additional types
  .changeset/salty-dragons-decide.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

docs: update pipeStreamOverResponse docs
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
Due: none

docs: update docs
  packages/docs/services/inversify-framework-site/docs/api/inversify-http-adapter/inversify-http-adapter.mdx
Due: none

chore: update vitest
  .github/renovate.json
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/inversify/package.json
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/strongly-typed/package.json
  packages/docs/tools/binding-decorators-code-examples/package.json
  packages/docs/tools/inversify-code-examples/package.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/docs/tools/inversify-http-open-api-code-examples/package.json
  packages/docs/tools/inversify-logger-code-examples/package.json
  packages/docs/tools/inversify-validation-code-examples/package.json
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/tools/vitest-config/package.json
  packages/framework/core/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/core/package.json
  packages/framework/http/libraries/express-v4/package.json
  packages/framework/http/libraries/express/package.json
  packages/framework/http/libraries/fastify/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/uwebsockets/package.json
  packages/framework/http/libraries/validation/package.json
  packages/framework/validation/libraries/ajv/package.json
  packages/framework/validation/libraries/class-validator/package.json
  packages/framework/validation/libraries/standard-schema/package.json
  packages/json-schema/libraries/json-schema-pointer/package.json
  packages/logger/package.json
Due: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

chore: revert monaco-editor
  .github/renovate.json
  packages/docs/tools/react-code-runner/package.json
Due: none

refactor: add MessageEvent
  packages/framework/http/libraries/sse/src/sse/models/MessageEvent.ts
Due: @inversifyjs/http-sse

refactor: update ControllerMethodParameterMetadata
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/areAllParamsSync.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.ts
  packages/framework/http/libraries/core/src/http/models/RequestMethodParameterType.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/ControllerMethodParameterMetadata.ts
Due: @inversifyjs/http-core

wip
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/areAllParamsSync.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.ts
  packages/framework/http/libraries/core/src/http/models/RequestMethodParameterType.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/ControllerMethodParameterMetadata.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/sse/package.json
  packages/framework/http/libraries/sse/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/sse/src/server/adapter/express4/actions/buildExpress4Server.ts
  packages/framework/http/libraries/sse/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/sse/src/server/adapter/hono/actions/buildHonoServer.ts
  packages/framework/http/libraries/sse/src/server/adapter/uWebSocketsJs/actions/buildUwebSocketsJsServer.ts
  packages/framework/http/libraries/sse/src/server/models/Server.ts
  packages/framework/http/libraries/sse/src/sse/actions/BuildSsePublisher.int.spec.ts
  packages/framework/http/libraries/sse/src/sse/actions/BuildSsePublisher.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-core, @inversifyjs/http-sse

test: add missing test case
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.spec.ts
Due: @inversifyjs/http-core

refactor: remove unused exports
  packages/framework/http/libraries/core/src/routerExplorer/model/ControllerMethodParameterMetadata.ts
Due: @inversifyjs/http-core

style: update tag comment
  .github/workflows/publish.yaml
Due: none

fix: add missing type
  packages/framework/http/libraries/better-auth/src/auth/models/UserSession.ts
Due: @inversifyjs/http-better-auth

chore: add better-auth to ignore blacklist
  .github/renovate.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/framework/http/libraries/better-auth/package.json
Due: @inversifyjs/http-better-auth

chore: update better auth dependency
  .github/renovate.json
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/better-auth/src/auth/models/UserSession.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthExpressContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthFastifyContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthHonoContainerModule.int.spec.ts
  packages/framework/http/libraries/better-auth/src/auth/services/BetterAuthUwebSocketsContainerModule.int.spec.ts
Due: @inversifyjs/http-better-auth

chore: update monaco-editor
  .github/renovate.json
  packages/docs/tools/react-code-runner/package.json
  packages/docs/tools/react-code-runner/src/actions/getMonaco.ts
Due: none

refactor: update route metadata decorator flow
  packages/framework/http/libraries/core/src/http/calculations/buildCustomControllerMethodParameterMetadata.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildCustomControllerMethodParameterMetadata.ts
  packages/framework/http/libraries/core/src/http/calculations/buildNonCustomControllerMethodParameterMetadata.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildNonCustomControllerMethodParameterMetadata.ts
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildRouteParameterDecorator.ts
  packages/framework/http/libraries/core/src/http/calculations/createCustomParameterDecorator.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/createCustomParameterDecorator.ts
  packages/framework/http/libraries/core/src/http/calculations/getOptionsAndPipes.ts
  packages/framework/http/libraries/core/src/http/calculations/nativeRequestParam.ts
  packages/framework/http/libraries/core/src/http/calculations/requestParam.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Body.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Body.ts
  packages/framework/http/libraries/core/src/http/decorators/Cookies.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Cookies.ts
  packages/framework/http/libraries/core/src/http/decorators/Headers.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Headers.ts
  packages/framework/http/libraries/core/src/http/decorators/Next.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Next.ts
  packages/framework/http/libraries/core/src/http/decorators/Params.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Params.ts
  packages/framework/http/libraries/core/src/http/decorators/Query.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Query.ts
  packages/framework/http/libraries/core/src/http/decorators/Request.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Request.ts
  packages/framework/http/libraries/core/src/http/decorators/Response.spec.ts
  packages/framework/http/libraries/core/src/http/decorators/Response.ts
  packages/framework/http/libraries/core/src/routerExplorer/actions/setControllerMethodParameterMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/actions/setControllerMethodParameterMetadata.ts
  packages/framework/http/libraries/core/src/routerExplorer/actions/setControllerMethodUseNativeHandlerMetadata.spec.ts
  packages/framework/http/libraries/core/src/routerExplorer/actions/setControllerMethodUseNativeHandlerMetadata.ts
  packages/framework/http/libraries/hono/src/middlewares/CorsMiddleware.int.spec.ts
Due: @inversifyjs/http-core

feat: update HTTP adapters with _sendBodySeparator
  .changeset/solid-goats-admire.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-core

feat: add createCustomNativeParameterDecorator
  .changeset/calm-friends-win.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/calculations/buildCustomNativeControllerMethodParameterMetadata.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/buildCustomNativeControllerMethodParameterMetadata.ts
  packages/framework/http/libraries/core/src/http/calculations/createCustomNativeParameterDecorator.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/createCustomNativeParameterDecorator.ts
  packages/framework/http/libraries/core/src/http/calculations/requestParam.spec.ts
  packages/framework/http/libraries/core/src/http/models/CustomNativeParameterDecoratorHandler.ts
  packages/framework/http/libraries/core/src/http/models/CustomNativeParameterDecoratorHandlerOptions.ts
  packages/framework/http/libraries/core/src/http/models/RequestMethodParameterType.ts
  packages/framework/http/libraries/core/src/index.ts
  packages/framework/http/libraries/core/src/routerExplorer/model/ControllerMethodParameterMetadata.ts
Due: @inversifyjs/http-core

fix: update InversifyFastifyHttpAdapter._sendBodySeparator
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
Due: none

fix: update HonoHttpAdapter._sendBodySeparator
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
Due: none

fix: update createCustomNativeParameterDecorator update decorator to be native
  packages/framework/http/libraries/core/src/http/calculations/createCustomNativeParameterDecorator.spec.ts
  packages/framework/http/libraries/core/src/http/calculations/createCustomNativeParameterDecorator.ts
Due: @inversifyjs/http-core

style: fix lint issues
  packages/framework/core/src/middleware/typeguard/isApplyMiddlewareOptions.spec.ts
  packages/framework/core/src/pipe/typeguard/isPipe.spec.ts
Due: @inversifyjs/framework-core

feat: add pipeKnownSizeStreamOverResponse
  .changeset/forty-apples-attend.md
  packages/framework/http/libraries/uwebsockets/src/actions/pipeKnownSizeStreamOverResponse.spec.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeKnownSizeStreamOverResponse.ts
  packages/framework/http/libraries/uwebsockets/src/index.ts
Due: none

fix: update pipeStreamOverResponse
  .changeset/shiny-olives-look.md
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.spec.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
Due: none

docs: fix wrong docs
  packages/framework/http/libraries/uwebsockets/src/actions/pipeKnownSizeStreamOverResponse.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
Due: none

fix: update pipeStreamOverResponse
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
Due: none

feat: expose SuccessHttpResponse
  .changeset/ninety-bushes-hope.md
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

feat: expose SuccessHttpResponse
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

chore: add sse package
  .changeset/plenty-turkeys-repeat.md
  packages/framework/http/libraries/sse/.npmignore
  packages/framework/http/libraries/sse/package.json
  packages/framework/http/libraries/sse/src/index.ts
  packages/framework/http/libraries/sse/src/server/adapter/express/actions/buildExpressServer.ts
  packages/framework/http/libraries/sse/src/server/adapter/express4/actions/buildExpress4Server.ts
  packages/framework/http/libraries/sse/src/server/adapter/fastify/actions/buildFastifyServer.ts
  packages/framework/http/libraries/sse/src/server/adapter/hono/actions/buildHonoServer.ts
  packages/framework/http/libraries/sse/src/server/adapter/uWebSocketsJs/actions/buildUwebSocketsJsServer.ts
  packages/framework/http/libraries/sse/src/server/models/Server.ts
  packages/framework/http/libraries/sse/src/sse/actions/BuildSsePublisher.int.spec.ts
  packages/framework/http/libraries/sse/src/sse/actions/BuildSsePublisher.ts
  packages/framework/http/libraries/sse/src/sse/models/SsePublisherOptions.ts
  packages/framework/http/libraries/sse/src/stream/models/SseStream.spec.ts
  packages/framework/http/libraries/sse/src/stream/models/SseStream.ts
Due: @inversifyjs/http-sse

docs: remove wrong changelog
  packages/framework/http/libraries/sse/CHANGELOG.md
Due: @inversifyjs/http-sse

fix: fix header typo
  packages/framework/http/libraries/sse/src/sse/actions/BuildSsePublisher.ts
Due: @inversifyjs/http-sse

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
