Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

refactor: add OasSecurity
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasSecurity.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasSecurity.ts
Due: @inversifyjs/http-open-api

refactor: add OasServer
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasServer.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasServer.ts
Due: @inversifyjs/http-open-api

refactor: add OasSummary
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasSummary.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasSummary.ts
Due: @inversifyjs/http-open-api

refactor: add OasTag
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasTag.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasTag.ts
Due: @inversifyjs/http-open-api

feat: expose OpenApi v3.2 types
  .changeset/some-forks-live.md
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/open-api/src/v3Dot2.ts
Due: @inversifyjs/http-open-api

fix: fix method decorators to allow static method decoration
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/buildOrGetOpenApiOperationObject.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/buildOrGetOpenApiOperationObject.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/updateControllerOpenApiMetadataServer.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/updateControllerOpenApiMetadataSummary.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/updateSchemaMetadataProperty.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/buildOrGetOpenApiOperationObject.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/buildOrGetOpenApiOperationObject.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/updateControllerOpenApiMetadataServer.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/updateControllerOpenApiMetadataSummary.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/updateSchemaMetadataProperty.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot1/buildDefaultControllerOpenApiMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot1/buildDefaultControllerOpenApiMetadata.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/buildDefaultControllerOpenApiMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/buildDefaultControllerOpenApiMetadata.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasDescription.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasDescription.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasParameter.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasParameter.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasSecurity.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasSecurity.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasTag.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot1/OasTag.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasDescription.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasDescription.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasParameter.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasParameter.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasSecurity.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasSecurity.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasTag.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/decorators/v3Dot2/OasTag.ts
  packages/framework/http/libraries/open-api/src/metadata/models/v3Dot1/ControllerOpenApiMetadata.ts
  packages/framework/http/libraries/open-api/src/metadata/models/v3Dot2/ControllerOpenApiMetadata.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.ts
Due: @inversifyjs/http-open-api

fix: update FilteredByValueType to handle 3.2 keys properly
  packages/framework/http/libraries/open-api/src/common/models/FilteredByValueType.spec-d.ts
  packages/framework/http/libraries/open-api/src/common/models/FilteredByValueType.ts
Due: @inversifyjs/http-open-api

refactor: add 3.2 models
  packages/framework/http/libraries/open-api/src/openApi/models/v3Dot2/SwaggerUiProviderApiOptions.ts
  packages/framework/http/libraries/open-api/src/openApi/models/v3Dot2/SwaggerUiProviderOptions.ts
Due: @inversifyjs/http-open-api

refactor: add getSchemaMetadata
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/getSchemaMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/getSchemaMetadata.ts
Due: @inversifyjs/http-open-api

feat: add mergeOpenApiTypeSchema
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot2/mergeOpenApiTypeSchema.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot2/mergeOpenApiTypeSchema.ts
Due: @inversifyjs/http-open-api

refactor: add mergeOpenApiPathItemObjectIntoOpenApiPaths
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/mergeOpenApiPathItemObjectIntoOpenApiPaths.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/mergeOpenApiPathItemObjectIntoOpenApiPaths.ts
Due: @inversifyjs/http-open-api

refactor: add SwaggerUiProvider
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.ts
Due: @inversifyjs/http-open-api

feat: expose SwaggerUiProvider
  packages/framework/http/libraries/open-api/src/v3Dot2.ts
Due: @inversifyjs/http-open-api

docs: add changeset
  .changeset/metal-worms-know.md
Due: none

fix: update mergeOpenApiPathItemObjectIntoOpenApiPaths with missing clone
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/mergeOpenApiPathItemObjectIntoOpenApiPaths.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot1/mergeOpenApiPathItemObjectIntoOpenApiPaths.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/mergeOpenApiPathItemObjectIntoOpenApiPaths.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/mergeOpenApiPathItemObjectIntoOpenApiPaths.ts
Due: @inversifyjs/http-open-api

test: refactor test
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot1/getSchemaMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/getSchemaMetadata.spec.ts
Due: @inversifyjs/http-open-api

fix: update `mergeOpenApiTypeSchema` to properly handle property schema metadata edge case
  .changeset/eager-adults-fail.md
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot1/mergeOpenApiTypeSchema.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot1/mergeOpenApiTypeSchema.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot2/mergeOpenApiTypeSchema.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot2/mergeOpenApiTypeSchema.ts
Due: @inversifyjs/http-open-api

fix: update mergeOpenApiTypeSchema to handle edge case
  packages/framework/http/libraries/open-api/src/metadata/actions/v3Dot2/mergeOpenApiPathItemObjectIntoOpenApiPaths.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot1/mergeOpenApiTypeSchema.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot1/mergeOpenApiTypeSchema.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot2/mergeOpenApiTypeSchema.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/actions/v3Dot2/mergeOpenApiTypeSchema.ts
Due: @inversifyjs/http-open-api

docs: update proposal to support multiple openapi versions
  openspec/changes/add-openapi-body-validation/design.md
  openspec/changes/add-openapi-body-validation/proposal.md
  openspec/changes/add-openapi-body-validation/specs/openapi-body-validation/spec.md
  openspec/changes/add-openapi-body-validation/tasks.md
Due: none

feat(http-core): export getControllerMethodParameterMetadataList
  packages/framework/http/libraries/core/src/index.ts
Due: @inversifyjs/http-core

feat(http-open-api): expose openApiObject getter on SwaggerUiProvider
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.ts
Due: @inversifyjs/http-open-api

feat(http-open-api): export metadata utilities per version subpath
  packages/framework/http/libraries/open-api/src/index.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot1/getControllerOpenApiMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot1/getControllerOpenApiMetadata.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/getControllerOpenApiMetadata.spec.ts
  packages/framework/http/libraries/open-api/src/metadata/calculations/v3Dot2/getControllerOpenApiMetadata.ts
  packages/framework/http/libraries/open-api/src/v3Dot2.ts
Due: @inversifyjs/http-open-api

feat(http-openapi-validation): add OpenAPI body validation package
  packages/framework/http/libraries/openapi-validation/.gitignore
  packages/framework/http/libraries/openapi-validation/.lintstagedrc.json
  packages/framework/http/libraries/openapi-validation/eslint.config.mjs
  packages/framework/http/libraries/openapi-validation/package.json
  packages/framework/http/libraries/openapi-validation/prettier.config.mjs
  packages/framework/http/libraries/openapi-validation/src/common/decorators/Validate.spec.ts
  packages/framework/http/libraries/openapi-validation/src/common/decorators/Validate.ts
  packages/framework/http/libraries/openapi-validation/src/common/reflectMetadata/openApiValidationMetadataReflectKey.ts
  packages/framework/http/libraries/openapi-validation/src/index.ts
  packages/framework/http/libraries/openapi-validation/src/v3Dot1/pipes/OpenApiValidationPipe.spec.ts
  packages/framework/http/libraries/openapi-validation/src/v3Dot1/pipes/OpenApiValidationPipe.ts
  packages/framework/http/libraries/openapi-validation/src/v3Dot2.ts
  packages/framework/http/libraries/openapi-validation/src/v3Dot2/pipes/OpenApiValidationPipe.spec.ts
  packages/framework/http/libraries/openapi-validation/src/v3Dot2/pipes/OpenApiValidationPipe.ts
  packages/framework/http/libraries/openapi-validation/stryker.config.mjs
  packages/framework/http/libraries/openapi-validation/tsconfig.esm.json
  packages/framework/http/libraries/openapi-validation/tsconfig.json
  packages/framework/http/libraries/openapi-validation/vitest.config.mjs
Due: none

test(http-openapi-validation): add integration tests
  packages/framework/http/libraries/openapi-validation/package.json
  packages/framework/http/libraries/openapi-validation/src/v3Dot1/pipes/OpenApiValidationPipe.int.spec.ts
  packages/framework/http/libraries/openapi-validation/src/v3Dot2/pipes/OpenApiValidationPipe.int.spec.ts
Due: none

chore: add changesets for OpenAPI body validation feature
  .changeset/add-openapi-body-validation-http-core.md
  .changeset/add-openapi-body-validation-http-open-api.md
  .changeset/add-openapi-body-validation-new-package.md
  .changeset/config.json
Due: none

docs: add OpenAPI validation docs and code examples
  packages/docs/services/inversify-framework-site/validation-docs/openapi/_category_.json
  packages/docs/services/inversify-framework-site/validation-docs/openapi/api.mdx
  packages/docs/services/inversify-framework-site/validation-docs/openapi/introduction.mdx
  packages/docs/tools/inversify-validation-code-examples/package.json
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiIntroduction.int.spec.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiIntroduction.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiOpenApiValidationPipe.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateDecorator.ts
Due: none

docs(blog): add OpenAPI body validation announcement post
  packages/docs/services/inversify-framework-site/blog/2026-04-04-openapi-body-validation/index.mdx
Due: none

chore: fix openapi validation package to valdiation packages
  .changeset/config.json
Due: none

chore: remove unused dependency
  packages/framework/http/libraries/openapi-validation/package.json
Due: none

feat: update CustomParameterDecoratorHandlerOptions
  .changeset/add-getmethod-geturl-to-custom-decorator-options.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/core/src/http/models/CustomParameterDecoratorHandlerOptions.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
Due: @inversifyjs/http-core

docs: update docs
  packages/docs/services/inversify-framework-site/docs/api/decorators.mdx
Due: none

fix: fix typing and mdx issues
  packages/docs/services/inversify-binding-decorators-site/blog/2025-02-08-welcome/index.md
  packages/docs/services/inversify-binding-decorators-site/docusaurus.config.ts
  packages/docs/services/inversify-framework-site/blog/2024-12-24-welcome/index.md
  packages/docs/services/inversify-framework-site/blog/2025-11-04-uwebsockets-adapter/index.md
  packages/docs/services/inversify-framework-site/docusaurus.config.ts
  packages/docs/services/inversify-site/blog/2024-12-24-welcome/index.md
  packages/docs/services/inversify-site/blog/2025-01-20-announcing-inversify-7-0-0-alpha-0-prerelease/index.md
  packages/docs/services/inversify-site/blog/2025-01-26-announcing-inversify-7-0-0-alpha-2-prerelease/index.md
  packages/docs/services/inversify-site/docusaurus.config.ts
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-6.x/fundamentals/binding.mdx
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/sse/package.json
  packages/framework/http/tools/http-benchmarks/package.json
Due: @inversifyjs/http-better-auth, @inversifyjs/http-open-api, @inversifyjs/http-sse

test: add ValidatedBody test
  packages/framework/http/libraries/openapi-validation/src/metadata/decorators/ValidatedBody.spec.ts
Due: none

fix: update docs
  packages/docs/services/inversify-framework-site/blog/2026-04-04-openapi-body-validation/index.mdx
  packages/docs/services/inversify-framework-site/validation-docs/openapi/api.mdx
  packages/docs/services/inversify-framework-site/validation-docs/openapi/introduction.mdx
Due: none

docs: update change
  openspec/changes/add-openapi-body-validation/design.md
  openspec/changes/add-openapi-body-validation/proposal.md
  openspec/changes/add-openapi-body-validation/specs/openapi-body-validation/spec.md
  openspec/changes/add-openapi-body-validation/tasks.md
Due: none

test: remove test cases
  packages/framework/http/libraries/openapi-validation/src/validation/pipes/v3Dot1/OpenApiValidationPipe.int.spec.ts
  packages/framework/http/libraries/openapi-validation/src/validation/pipes/v3Dot2/OpenApiValidationPipe.int.spec.ts
Due: none

feat: update SwaggerUiProvider to require provide invocation
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.ts
Due: @inversifyjs/http-open-api

refactor: add type utils
  packages/framework/http/libraries/openapi-validation/src/comon/models/AllOfKind.ts
  packages/framework/http/libraries/openapi-validation/src/comon/models/AreAllOfKind.ts
  packages/framework/http/libraries/openapi-validation/src/comon/models/FilteredByValueType.spec-d.ts
  packages/framework/http/libraries/openapi-validation/src/comon/models/FilteredByValueType.ts
Due: none

refactor: update getOperationObject with better typings
  packages/framework/http/libraries/openapi-validation/src/validation/calculations/v3Dot1/getOperationObject.ts
  packages/framework/http/libraries/openapi-validation/src/validation/calculations/v3Dot1/isOpenApiMethod.ts
  packages/framework/http/libraries/openapi-validation/src/validation/calculations/v3Dot2/getOperationObject.ts
  packages/framework/http/libraries/openapi-validation/src/validation/calculations/v3Dot2/isOpenApiMethod.ts
Due: none

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
