Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

codecov.yml:

coverage:
  status:
    project:
      default: false
      '@inversifyjs/ajv-validation':
        flags:
          - '@inversifyjs/ajv-validation'
      '@inversifyjs/binding-decorators':
        flags:
          - '@inversifyjs/binding-decorators'
      '@inversifyjs/class-validation':
        flags:
          - '@inversifyjs/class-validation'
      '@inversifyjs/common':
        flags:
          - '@inversifyjs/common'
      '@inversifyjs/container':
        flags:
          - '@inversifyjs/container'
      '@inversifyjs/core':
        flags:
          - '@inversifyjs/core'
      '@inversifyjs/http-better-auth':
        flags:
          - '@inversifyjs/http-better-auth'
      '@inversifyjs/http-core':
        flags:
          - '@inversifyjs/http-core'
      '@inversifyjs/http-open-api':
        flags:
          - '@inversifyjs/http-open-api'
      '@inversifyjs/http-validation':
        flags:
          - '@inversifyjs/http-validation'
      '@inversifyjs/logger':
        flags:
          - '@inversifyjs/logger'
      '@inversifyjs/plugin-dispose':
        flags:
          - '@inversifyjs/plugin-dispose'
      '@inversifyjs/prototype-utils':
        flags:
          - '@inversifyjs/prototype-utils'
      '@inversifyjs/reflect-metadata-utils':
        flags:
          - '@inversifyjs/reflect-metadata-utils'
      '@inversifyjs/http-sse':
        flags:
          - '@inversifyjs/http-sse'
      '@inversifyjs/standard-schema-validation':
        flags:
          - '@inversifyjs/standard-schema-validation'
flags:
  '@inversifyjs/ajv-validation':
    paths:
      - packages/framework/validation/libraries/ajv
  '@inversifyjs/binding-decorators':
    paths:
      - packages/container/libraries/binding-decorators/
  '@inversifyjs/class-validation':
    paths:
      - packages/framework/validation/libraries/class-validator
  '@inversifyjs/common':
    paths:
      - packages/container/libraries/common/
  '@inversifyjs/container':
    paths:
      - packages/container/libraries/container/
  '@inversifyjs/core':
    paths:
      - packages/container/libraries/core/
  '@inversifyjs/framework-core':
    paths:
      - packages/framework/core
  '@inversifyjs/http-better-auth':
    paths:
      - packages/framework/http/libraries/better-auth
  '@inversifyjs/http-core':
    paths:
      - packages/framework/http/libraries/core
  '@inversifyjs/http-open-api':
    paths:
      - packages/framework/http/libraries/open-api
  '@inversifyjs/http-sse':
    paths:
      - packages/framework/http/libraries/sse
  '@inversifyjs/http-validation':
    paths:
      - packages/framework/http/libraries/validation
  '@inversifyjs/logger':
    paths:
      - packages/logger
  '@inversifyjs/plugin-dispose':
    paths:
      - packages/container/libraries/plugin-dispose
  '@inversifyjs/prototype-utils':
    paths:
      - packages/foundation/libraries/prototype-utils
  '@inversifyjs/reflect-metadata-utils':
    paths:
      - packages/foundation/libraries/reflect-metadata-utils
  '@inversifyjs/standard-schema-validation':
    paths:
      - packages/framework/validation/libraries/standard-schema

refactor: extract buildZeroResolvedValueArgumentsResolver
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolver.ts
Due: @inversifyjs/core

refactor: extract buildOneResolvedValueArgumentResolver
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolver.ts
Due: @inversifyjs/core

refactor: extract buildResolvedValueArgumentsResolver
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolver.ts
Due: @inversifyjs/core

refactor: update resolver to rely on resolver builders
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
Due: @inversifyjs/core

feat: add wide instance service in transient scope scenario
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify7/Inversify7GetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/awilix/AwilixGetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8/Inversify8GetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/nestCore/NestCoreGetWideServiceInTransientScopeScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/tsyringe/TsyringeGetWideServiceInTransientScope.ts
Due: none

refactor: extract buildResolveMany
  packages/container/libraries/core/src/planning/calculations/buildResolveMany.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolveMany.ts
Due: @inversifyjs/core

refactor: extract binding resolvers
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivationsFromIterator.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivationsFromIterator.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivationsFromIteratorAsync.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivationsFromIteratorAsync.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.ts
Due: @inversifyjs/core

perf: update buildInstanceNodeResolver with better performance
  .changeset/pretty-eagles-train.md
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolve.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolver.ts
Due: @inversifyjs/core

refactor: remove unused function
  packages/container/libraries/core/src/resolution/actions/resolveInstanceBindingNodeAsyncFromConstructorParams.ts
Due: @inversifyjs/core

feat: update benchmarks with new scenario
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify6/Inversify6GetComplexServiceWithPropertiesInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/Inversify7/Inversify7GetComplexServiceWithPropertiesInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversify8/Inversify8GetComplexServiceWithPropertiesInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrent/InversifyCurrentGetComplexServiceWithPropertiesInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/nestCore/NestCoreGetComplexServiceWithPropertiesInTransientScopeScenario.ts
Due: none

refactor: extract buildOnePropertyArgumentResolver
  packages/container/libraries/core/src/planning/calculations/buildOnePropertyArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOnePropertyArgumentResolver.ts
Due: @inversifyjs/core

perf: improve instance resolution
  .changeset/public-nails-cheer.md
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
Due: @inversifyjs/core

refactor: add buildZeroConstructorArgumentsResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroConstructorArgumentsResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildOneConstructorArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneConstructorArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildTwoConstructorArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildTwoConstructorArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoConstructorArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildThreeConstructorArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildThreeConstructorArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeConstructorArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildFourConstructorArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildFourConstructorArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFourConstructorArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add resolveServiceActivations
  packages/container/libraries/core/src/resolution/actions/resolveServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceActivations.ts
Due: @inversifyjs/core

refactor: add buildConstructorArgumentsResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildConstructorArgumentsResolverOnCsp.ts
Due: @inversifyjs/core

refactor: update buildSimpleResolvedValueBindingNodeResolver
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
Due: @inversifyjs/core

refactor: add buildNoActivationsInstanceBindingNodeResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildNoActivationsInstanceBindingNodeResolver
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolver.ts
Due: @inversifyjs/core

feat: add jitless Container option
  packages/container/libraries/container/src/container/models/ContainerOptions.ts
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/Container.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.spec.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.ts
  packages/container/libraries/core/src/planning/actions/addRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildPlanServiceNode.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.spec.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.ts
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
  packages/container/libraries/core/src/planning/actions/plan.spec.ts
  packages/container/libraries/core/src/planning/actions/removeRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildInstanceBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/models/BasePlanParams.ts
  packages/container/libraries/core/src/planning/models/InstanceBindingNodeImplementation.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.spec.ts
  packages/container/libraries/core/src/planning/services/PlanResultCacheService.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core

docs: update Container docs
  packages/docs/services/inversify-site/blog/2026-07-15-announcing-inversify-8-2-0/index.mdx
  packages/docs/services/inversify-site/docs/api/container.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/container.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-8.x/api/container.mdx
  packages/docs/services/inversify-site/versioned_docs/version-8.x/api/container.mdx
Due: none

chore: add benchmark scenario
  packages/container/tools/container-benchmarks/src/bin/run.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessBaseScenario.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetComplexAsyncServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetComplexResolvedValueServiceInTranstientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetComplexServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetComplexServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetComplexServiceWithPropertiesInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetServiceInSingletonScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/inversifyCurrentJitless/InversifyCurrentJitlessGetWideServiceInTransientScope.ts
  packages/container/tools/container-benchmarks/src/scenario/models/Platform.ts
Due: none

docs: add changesets
  .changeset/eager-areas-ask.md
  .changeset/sour-buttons-cheat.md
  .changeset/tame-bars-do.md
Due: none

fix: update resolver to rely on csp functions
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsInstanceBindingNodeResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/resolveMany.spec.ts
  packages/container/libraries/core/src/planning/calculations/resolveMany.ts
Due: @inversifyjs/core

fix: assertion
  packages/container/libraries/core/src/planning/calculations/resolveMany.spec.ts
Due: @inversifyjs/core

docs: update speedups
  packages/docs/services/inversify-site/blog/2026-07-15-announcing-inversify-8-2-0/index.mdx
Due: none

feat: move getActivations to ResolutionContext
  .changeset/cyan-groups-spend.md
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.spec.ts
  packages/container/libraries/container/src/container/services/ServiceResolutionManager.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveBindingServiceActivations.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceActivations.spec.ts
  packages/container/libraries/core/src/resolution/actions/resolveServiceActivations.ts
  packages/container/libraries/core/src/resolution/models/ResolutionContext.ts
  packages/container/libraries/core/src/resolution/models/ResolutionParams.ts
Due: @inversifyjs/container, @inversifyjs/core

refactor: add buildTwoResolvedValueArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildTwoResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoResolvedValueArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildThreeResolvedValueArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildThreeResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeResolvedValueArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildFourResolvedValueArgumentResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildFourResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFourResolvedValueArgumentResolverOnCsp.ts
Due: @inversifyjs/core

refactor: add buildNoActivationsResolvedValueBindingNodeResolver
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolver.ts
Due: @inversifyjs/core

refactor: add buildNoActivationsResolvedValueBindingNodeResolverOnCsp
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolverOnCsp.ts
Due: @inversifyjs/core

refactor: update buildResolvedValueBindingNodeResolver to rely on more specific csp resolvers
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueBindingNodeResolver.ts
Due: @inversifyjs/core

refactor: update resolver without redundant params
  packages/container/libraries/core/src/planning/calculations/buildFourResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildFourResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildThreeResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoResolvedValueArgumentResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildTwoResolvedValueArgumentResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolverOnCsp.ts
Due: @inversifyjs/core

refactor: update resolver without redundant params
  packages/container/libraries/core/src/planning/calculations/buildNoActivationsResolvedValueBindingNodeResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildOneResolvedValueArgumentResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolver.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolverOnCsp.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildResolvedValueArgumentsResolverOnCsp.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolver.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildZeroResolvedValueArgumentsResolver.ts
Due: @inversifyjs/core

fix: update currySubplan with missing depth detection on resolve value plans
  .changeset/tough-moons-leave.md
  packages/container/libraries/core/src/planning/actions/currySubplan.ts
Due: @inversifyjs/core

feat: update PlanParamsOperations with getActivations
  .changeset/tidy-mirrors-glow.md
  packages/container/libraries/container/src/container/services/Container.spec.ts
  packages/container/libraries/container/src/container/services/PlanParamsOperationsManager.spec.ts
  packages/container/libraries/container/src/container/services/PlanParamsOperationsManager.ts
  packages/container/libraries/core/src/planning/actions/plan.int.spec.ts
  packages/container/libraries/core/src/planning/models/PlanParamsOperations.ts
  packages/container/libraries/core/src/resolution/actions/resolve.int.spec.ts
Due: @inversifyjs/container, @inversifyjs/core
