Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

chore: update prototype-utils package to be ESM only
  packages/foundation/libraries/prototype-utils/.gitignore
  packages/foundation/libraries/prototype-utils/.npmignore
  packages/foundation/libraries/prototype-utils/eslint.config.mjs
  packages/foundation/libraries/prototype-utils/package.json
  packages/foundation/libraries/prototype-utils/rollup.config.mjs
  packages/foundation/libraries/prototype-utils/src/index.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/findInPrototypeChain.spec.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/findInPrototypeChain.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/getBaseType.spec.ts
  packages/foundation/libraries/prototype-utils/src/prototype/calculations/getBaseType.ts
  packages/foundation/libraries/prototype-utils/src/prototype/models/Prototype.ts
  packages/foundation/libraries/prototype-utils/tsconfig.cjs.json
  packages/foundation/libraries/prototype-utils/tsconfig.esm.json
  packages/foundation/libraries/prototype-utils/tsconfig.json
Due: @inversifyjs/prototype-utils

chore: update reflect-metada-utils to be esm
  packages/foundation/libraries/reflect-metadata-utils/.gitignore
  packages/foundation/libraries/reflect-metadata-utils/.npmignore
  packages/foundation/libraries/reflect-metadata-utils/eslint.config.mjs
  packages/foundation/libraries/reflect-metadata-utils/package.json
  packages/foundation/libraries/reflect-metadata-utils/rollup.config.mjs
  packages/foundation/libraries/reflect-metadata-utils/src/index.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/buildArrayMetadataWithArray.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/buildArrayMetadataWithElement.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/buildArrayMetadataWithIndex.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/buildEmptyArrayMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/buildEmptyMapMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/buildEmptySetMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/getOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/getReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/setReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateOwnReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateOwnReflectMetadata.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateReflectMetadata.ts
  packages/foundation/libraries/reflect-metadata-utils/src/reflectMetadata/utils/updateSetMetadataWithList.spec.ts
  packages/foundation/libraries/reflect-metadata-utils/tsconfig.cjs.json
  packages/foundation/libraries/reflect-metadata-utils/tsconfig.esm.json
  packages/foundation/libraries/reflect-metadata-utils/tsconfig.json
Due: @inversifyjs/reflect-metadata-utils

docs: add changesets
  .changeset/small-readers-raise.md
Due: none

docs: add changesets
  .changeset/tall-cameras-wave.md
Due: none

wip: add call to see stack trace
  packages/container/libraries/inversify/src/test/bugs/issue_543.int.spec.ts
Due: none

fix: update subplan with max depth limit
  packages/container/libraries/core/docs/single-immutable-linked-list.md
  packages/container/libraries/core/src/common/models/SingleImmutableLinkedList.spec.ts
  packages/container/libraries/core/src/common/models/SingleImmutableLinkedList.ts
  packages/container/libraries/core/src/error/models/InversifyCoreErrorKind.ts
  packages/container/libraries/core/src/planning/actions/addRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/addServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildPlanServiceNode.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildPlanServiceNodeFromClassElementMetadata.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildPlanServiceNodeFromResolvedValueElementMetadata.spec.ts
  packages/container/libraries/core/src/planning/actions/curryBuildServiceNodeBindings.spec.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.spec.ts
  packages/container/libraries/core/src/planning/actions/currySubplan.ts
  packages/container/libraries/core/src/planning/actions/removeRootServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/removeServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/calculations/buildPlanBindingConstraintsList.ts
  packages/container/libraries/core/src/planning/calculations/handlePlanError.spec.ts
  packages/container/libraries/core/src/planning/calculations/handlePlanError.ts
  packages/container/libraries/inversify/src/test/bugs/issue_543.int.spec.ts
Due: @inversifyjs/core

test: update flows to handle planning max depth exceeded errors
  packages/container/libraries/core/src/planning/actions/addServiceNodeBindingIfContextFree.spec.ts
  packages/container/libraries/core/src/planning/actions/addServiceNodeBindingIfContextFree.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.spec.ts
  packages/container/libraries/core/src/planning/calculations/handleResolveError.ts
Due: @inversifyjs/core

chore: update plugin package to be esm
  packages/container/libraries/plugin/.gitignore
  packages/container/libraries/plugin/.npmignore
  packages/container/libraries/plugin/eslint.config.mjs
  packages/container/libraries/plugin/package.json
  packages/container/libraries/plugin/rollup.config.mjs
  packages/container/libraries/plugin/src/index.ts
  packages/container/libraries/plugin/src/plugin/models/Plugin.ts
  packages/container/libraries/plugin/src/plugin/models/PluginApi.ts
  packages/container/libraries/plugin/src/plugin/models/PluginContext.ts
  packages/container/libraries/plugin/tsconfig.cjs.json
  packages/container/libraries/plugin/tsconfig.esm.json
  packages/container/libraries/plugin/tsconfig.json
Due: none

docs: add changesets
  .changeset/smooth-crews-sin.md
Due: none

docs: add changesets
  .changeset/fiery-pigs-make.md
Due: none

chore: update plugin-dispose package to be esm
  packages/container/libraries/plugin-dispose/.gitignore
  packages/container/libraries/plugin-dispose/.npmignore
  packages/container/libraries/plugin-dispose/eslint.config.mjs
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin-dispose/rollup.config.mjs
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBinding.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBinding.ts
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBindingMap.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/getPluginDisposeBindingMap.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/registerSingletonScopedBindings.ts
  packages/container/libraries/plugin-dispose/src/actions/setPluginDisposeBinding.spec.ts
  packages/container/libraries/plugin-dispose/src/actions/setPluginDisposeBinding.ts
  packages/container/libraries/plugin-dispose/src/calculations/buildDeactivationParams.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/buildDeactivationParams.ts
  packages/container/libraries/plugin-dispose/src/calculations/isInstanceBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isInstanceBindingNode.ts
  packages/container/libraries/plugin-dispose/src/calculations/isPlanServiceRedirectionBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isPlanServiceRedirectionBindingNode.ts
  packages/container/libraries/plugin-dispose/src/calculations/isResolvedValueBindingNode.spec.ts
  packages/container/libraries/plugin-dispose/src/calculations/isResolvedValueBindingNode.ts
  packages/container/libraries/plugin-dispose/src/index.ts
  packages/container/libraries/plugin-dispose/src/models/BindingDisposeMetadata.ts
  packages/container/libraries/plugin-dispose/src/models/SingletonScopedBinding.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.int.spec.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.spec.ts
  packages/container/libraries/plugin-dispose/src/plugins/PluginDispose.ts
  packages/container/libraries/plugin-dispose/tsconfig.cjs.json
  packages/container/libraries/plugin-dispose/tsconfig.esm.json
  packages/container/libraries/plugin-dispose/tsconfig.json
Due: @inversifyjs/plugin-dispose

docs: add changesets
  .changeset/twenty-towns-dance.md
Due: none

chore: update strongly typed package to be esm
  packages/container/libraries/strongly-typed/.gitignore
  packages/container/libraries/strongly-typed/.npmignore
  packages/container/libraries/strongly-typed/eslint.config.mjs
  packages/container/libraries/strongly-typed/package.json
  packages/container/libraries/strongly-typed/rollup.config.mjs
  packages/container/libraries/strongly-typed/src/container.spec.ts
  packages/container/libraries/strongly-typed/src/container.ts
  packages/container/libraries/strongly-typed/src/index.ts
  packages/container/libraries/strongly-typed/src/inject.spec.ts
  packages/container/libraries/strongly-typed/src/inject.ts
  packages/container/libraries/strongly-typed/src/module.spec.ts
  packages/container/libraries/strongly-typed/src/module.ts
  packages/container/libraries/strongly-typed/tsconfig.cjs.json
  packages/container/libraries/strongly-typed/tsconfig.esm.json
  packages/container/libraries/strongly-typed/tsconfig.json
Due: none

docs: add changesets
  .changeset/vast-dancers-exist.md
Due: none

chore: update inversify package to be esm
  packages/container/libraries/inversify/.gitignore
  packages/container/libraries/inversify/.npmignore
  packages/container/libraries/inversify/eslint.config.mjs
  packages/container/libraries/inversify/package.json
  packages/container/libraries/inversify/rollup.config.mjs
  packages/container/libraries/inversify/src/test/annotation/inject.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/injectable.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/multi_inject.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/named.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/optional.int.spec.ts
  packages/container/libraries/inversify/src/test/annotation/post_construct.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/bugs.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1190.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1416.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1515.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1518.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_1564.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_543.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_549.int.spec.ts
  packages/container/libraries/inversify/src/test/bugs/issue_706.test.ts
  packages/container/libraries/inversify/src/test/bugs/issue_928.test.ts
  packages/container/libraries/inversify/src/test/container/container.int.spec.ts
  packages/container/libraries/inversify/src/test/container/container_module.int.spec.ts
  packages/container/libraries/inversify/src/test/features/named_default.int.spec.ts
  packages/container/libraries/inversify/src/test/features/property_injection.int.spec.ts
  packages/container/libraries/inversify/src/test/features/request_scope.int.spec.ts
  packages/container/libraries/inversify/src/test/features/transitive_bindings.int.spec.ts
  packages/container/libraries/inversify/src/test/inversify.int.spec.ts
  packages/container/libraries/inversify/src/test/node/error_messages.int.spec.ts
  packages/container/libraries/inversify/src/test/node/exceptions.int.spec.ts
  packages/container/libraries/inversify/src/test/node/proxies.int.spec.ts
  packages/container/libraries/inversify/tsconfig.cjs.json
  packages/container/libraries/inversify/tsconfig.esm.json
  packages/container/libraries/inversify/tsconfig.json
Due: none

docs: add changesets
  .changeset/calm-rivers-arrive.md
Due: none

chore: update renovate config with uWebSockets.js updates
  .github/renovate.json
Due: none

chore: revert hono to 4.11
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/sse/package.json
  packages/framework/http/tools/e2e-tests/package.json
  packages/framework/http/tools/http-benchmarks/package.json
Due: @inversifyjs/http-better-auth, @inversifyjs/http-open-api, @inversifyjs/http-sse

chore: move hono to quarantine
  .github/renovate.json
Due: none

fix: update knip config with right entrypoint
  knip.ts
Due: none

chore: update renovatebot config
  .github/renovate.json
Due: none

chore: update changesets with beta prerelease
  .changeset/pre.json
  packages/framework/core/package.json
  packages/framework/http/libraries/core/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/validation/libraries/ajv/package.json
  packages/framework/validation/libraries/class-validator/package.json
  packages/framework/validation/libraries/standard-schema/package.json
Due: @inversifyjs/ajv-validation, @inversifyjs/class-validation, @inversifyjs/framework-core, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/standard-schema-validation

chore: update package to be private
  .changeset/config.json
  .changeset/pre.json
  packages/container/examples/plugin-example/.gitignore
  packages/container/examples/plugin-example/.npmignore
  packages/container/examples/plugin-example/eslint.config.mjs
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-example/rollup.config.mjs
  packages/container/examples/plugin-example/src/index.ts
  packages/container/examples/plugin-example/tsconfig.cjs.json
  packages/container/examples/plugin-example/tsconfig.esm.json
  packages/container/examples/plugin-example/tsconfig.json
Due: none

chore: update plugin example usage package to be ESM only
  .changeset/pre.json
  packages/container/examples/plugin-example/package.json
  packages/container/examples/plugin-usage-example/.gitignore
  packages/container/examples/plugin-usage-example/.npmignore
  packages/container/examples/plugin-usage-example/eslint.config.mjs
  packages/container/examples/plugin-usage-example/package.json
  packages/container/examples/plugin-usage-example/rollup.config.mjs
  packages/container/examples/plugin-usage-example/tsconfig.cjs.json
  packages/container/examples/plugin-usage-example/tsconfig.esm.json
  packages/container/examples/plugin-usage-example/tsconfig.json
Due: none

chore: update binding decorators package to be ESM only
  packages/container/libraries/binding-decorators/.gitignore
  packages/container/libraries/binding-decorators/.npmignore
  packages/container/libraries/binding-decorators/eslint.config.mjs
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/binding-decorators/rollup.config.mjs
  packages/container/libraries/binding-decorators/src/index.ts
  packages/container/libraries/binding-decorators/src/metadata/actions/updateMetadataMap.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/actions/updateMetadataMap.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildDefaultBindingMetadataMap.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildDefaultBindingMetadataMap.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildProviderModule.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/calculations/buildProviderModule.ts
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.spec.ts
  packages/container/libraries/binding-decorators/src/metadata/decorators/provide.ts
  packages/container/libraries/binding-decorators/src/metadata/models/BindingMetadata.ts
  packages/container/libraries/binding-decorators/src/metadata/models/BindingMetadataMap.ts
  packages/container/libraries/binding-decorators/tsconfig.cjs.json
  packages/container/libraries/binding-decorators/tsconfig.esm.json
  packages/container/libraries/binding-decorators/tsconfig.json
Due: @inversifyjs/binding-decorators

docs: add changeset
  .changeset/silent-ravens-retire.md
Due: none

chore: remove version
  packages/container/examples/plugin-usage-example/package.json
Due: none

style: apply code suggestions
  packages/docs/tools/inversify-code-examples/src/examples/containerApiGetAllAsync.ts
  packages/docs/tools/inversify-code-examples/src/examples/diHierarchy.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/containerApiGetNamed.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/decoratorApiInjectFromBaseConstructorArguments.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/decoratorApiInjectFromBaseProperties.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v7/diHierarchy.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v8/bindingScopeRequest.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v8/bindingScopeTransient.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v8/containerApiGetNamed.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v8/decoratorApiInjectFromBaseConstructorArguments.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v8/decoratorApiInjectFromBaseProperties.int.spec.ts
  packages/docs/tools/inversify-code-examples/src/examples/v8/diHierarchy.int.spec.ts
Due: none

chore: remove hono from quarantine
  .github/renovate.json
Due: none

chore: bump hono
  packages/docs/tools/inversify-http-code-examples/package.json
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/hono/package.json
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/sse/package.json
  packages/framework/http/tools/e2e-tests/package.json
  packages/framework/http/tools/http-benchmarks/package.json
Due: @inversifyjs/http-better-auth, @inversifyjs/http-open-api, @inversifyjs/http-sse

docs: update chinese translations
  packages/docs/services/inversify-site/docs/api/binding-syntax.mdx
  packages/docs/services/inversify-site/docs/fundamentals/binding.mdx
  packages/docs/services/inversify-site/docs/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/binding-syntax.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/container-module.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/container.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/decorate.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/decorator.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/lazy-service-identifier.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/api/service-identifier.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/binding.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/di-hierarchy.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/lifecycle/activation.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/lifecycle/deactivation.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/fundamentals/planning.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/guides/migrating-from-v6.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/guides/migrating-from-v7.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/introduction/dependency-inversion.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/introduction/getting-started.mdx
Due: none

fix: update wrong load usage
  packages/docs/services/inversify-site/docs/ecosystem/strongly-typed.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/current/ecosystem/strongly-typed.mdx
  packages/docs/services/inversify-site/i18n/zh/docusaurus-plugin-content-docs/version-8.x/ecosystem/strongly-typed.mdx
  packages/docs/services/inversify-site/versioned_docs/version-8.x/ecosystem/strongly-typed.mdx
Due: none

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
