Repository inversify/monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: @inversifyjs/ajv-validation, @inversifyjs/binding-decorators, @inversifyjs/class-validation, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/framework-core, @inversifyjs/http-better-auth, @inversifyjs/http-core, @inversifyjs/http-open-api, @inversifyjs/http-sse, @inversifyjs/http-validation, @inversifyjs/logger, @inversifyjs/plugin-dispose, @inversifyjs/prototype-utils, @inversifyjs/reflect-metadata-utils, @inversifyjs/standard-schema-validation

test(open-api-validation): add integration tests for header validation
  openspec/changes/add-openapi-header-validation/tasks.md
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.int.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.int.spec.ts
Due: none

fix(open-api-validation): fix build errors and lint issues
  openspec/changes/add-openapi-header-validation/tasks.md
  packages/framework/validation/libraries/openapi/src/metadata/decorators/ValidatedHeaders.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/coerceHeaderValue.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/getHeaderParameterObjects.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/getHeaderParameterObjects.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleBodyValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/getHeaderParameterObjects.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/getHeaderParameterObjects.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleBodyValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.ts
Due: none

docs: update OpenAPI validation docs and blog for header validation
  .changeset/brave-headers-validate.md
  packages/docs/services/inversify-framework-site/blog/2026-04-04-openapi-body-validation/index.mdx
  packages/docs/services/inversify-framework-site/validation-docs/openapi/api.mdx
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateHeadersDecorator.ts
Due: none

refactor: update buildCompositeValidationHandler
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildCompositeValidationHandler.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildCompositeValidationHandler.ts
  packages/framework/validation/libraries/openapi/src/validation/models/DiscriminatorValidationHandlerPair.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.ts
Due: none

fix: update handle header validation with lowercased headers matching
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildNonArrayHeaderParse.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildNonArrayHeaderParse.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringOrStringArrayToNonNullableInteger.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringOrStringArrayToNonNullableInteger.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringOrStringArrayToNullableInteger.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringOrStringArrayToNullableInteger.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringToNonNullableInteger.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringToNonNullableInteger.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringToNonNullableNumber.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringToNullableInteger.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringToNullableInteger.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/maybeCoerceStringToNullableNumber.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.ts
Due: none

fix: update body valpidation to properly handle optional bodies
  .changeset/brave-headers-validate.md
  .changeset/ready-memes-shout.md
  packages/framework/validation/libraries/openapi/package.json
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleBodyValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleBodyValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/inferContentType.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/inferContentType.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleBodyValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleBodyValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/inferContentType.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/inferContentType.ts
  packages/framework/validation/libraries/openapi/src/validation/models/v3Dot1/ValidationCacheEntry.ts
  packages/framework/validation/libraries/openapi/src/validation/models/v3Dot2/ValidationCacheEntry.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.int.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.int.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/services/v3Dot1/ValidationCache.ts
  packages/framework/validation/libraries/openapi/src/validation/services/v3Dot2/ValidationCache.ts
Due: none

fix: remove log
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleBodyValidation.ts
Due: none

fix: fix syntax errors
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.spec.ts
Due: none

style: fix typo
  packages/framework/validation/libraries/openapi/src/router/models/RouterNode.ts
Due: none

fix: update buildRouterNode
  packages/framework/validation/libraries/openapi/src/router/calculations/buildRouterNode.spec.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/buildRouterNode.ts
  packages/framework/validation/libraries/openapi/src/router/services/v3Dot1/OpenApi3Dot1Router.spec.ts
  packages/framework/validation/libraries/openapi/src/router/services/v3Dot2/OpenApi3Dot2Router.spec.ts
Due: none

fix: update router to handle any valid openapi url params
  CLAUDE.md
  packages/framework/http/libraries/open-api/package.json
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildOperationFromPath.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/buildOperationFromPath.ts
  packages/framework/http/libraries/open-api/src/openApi/models/SwaggerUiProviderOptions.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/buildRouterNode.spec.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/buildRouterNode.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/findRoute.spec.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/findRoute.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/sortOpenApiPathTemplates.spec.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/sortOpenApiPathTemplates.ts
  packages/framework/validation/libraries/openapi/src/router/models/BaseRouterNodeMatch.ts
  packages/framework/validation/libraries/openapi/src/router/models/RouterNode.ts
  packages/framework/validation/libraries/openapi/src/router/models/RouterNodeLiteralMatch.ts
  packages/framework/validation/libraries/openapi/src/router/models/RouterNodeMatch.ts
  packages/framework/validation/libraries/openapi/src/router/models/RouterNodeMatchKind.ts
  packages/framework/validation/libraries/openapi/src/router/models/RouterNodeParamMatch.ts
  packages/framework/validation/libraries/openapi/src/router/models/wildcardKey.ts
  packages/framework/validation/libraries/openapi/src/router/services/BaseOpenApiRouter.spec.ts
  packages/framework/validation/libraries/openapi/src/trie/actions/trieInsert.spec.ts
  packages/framework/validation/libraries/openapi/src/trie/actions/trieInsert.ts
  packages/framework/validation/libraries/openapi/src/trie/calculations/createTrieNode.spec.ts
  packages/framework/validation/libraries/openapi/src/trie/calculations/createTrieNode.ts
  packages/framework/validation/libraries/openapi/src/trie/calculations/trieIterateEntries.spec.ts
  packages/framework/validation/libraries/openapi/src/trie/calculations/trieIterateEntries.ts
  packages/framework/validation/libraries/openapi/src/trie/calculations/trieLookup.spec.ts
  packages/framework/validation/libraries/openapi/src/trie/calculations/trieLookup.ts
  packages/framework/validation/libraries/openapi/src/trie/models/TrieNode.ts
Due: @inversifyjs/http-open-api

fix: update router to properly sanitize param segment regexp
  packages/framework/http/libraries/open-api/src/openApi/calculations/resolveLogger.spec.ts
  packages/framework/http/libraries/open-api/src/openApi/calculations/resolveLogger.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot1/SwaggerUiProvider.ts
  packages/framework/http/libraries/open-api/src/openApi/services/v3Dot2/SwaggerUiProvider.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/buildRouterNode.spec.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/buildRouterNode.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/sortOpenApiPathTemplates.spec.ts
  packages/framework/validation/libraries/openapi/src/router/calculations/sortOpenApiPathTemplates.ts
Due: @inversifyjs/http-open-api

docs: update skills and commands
  .agent/workflows/opsx-apply.md
  .agent/workflows/opsx-propose.md
  .claude/commands/opsx/apply.md
  .claude/commands/opsx/archive.md
  .claude/commands/opsx/explore.md
  .claude/commands/opsx/propose.md
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .gemini/commands/opsx/apply.toml
  .gemini/commands/opsx/archive.toml
  .gemini/commands/opsx/explore.toml
  .gemini/commands/opsx/propose.toml
  .gemini/skills/openspec-apply-change/SKILL.md
  .gemini/skills/openspec-archive-change/SKILL.md
  .gemini/skills/openspec-explore/SKILL.md
  .gemini/skills/openspec-propose/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-propose.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-propose/SKILL.md
  package.json
Due: none

test: add missing case
  packages/framework/validation/libraries/openapi/src/router/services/v3Dot1/OpenApi3Dot1Router.spec.ts
  packages/framework/validation/libraries/openapi/src/router/services/v3Dot2/OpenApi3Dot2Router.spec.ts
Due: none

chore: update renovate to detect uwebsocket deps
  .github/renovate.json
Due: none

chore: fix uwebsockets update detection
  .github/renovate.json
  AGENTS.md
Due: none

feat: implement ValidatedQuery
  .changeset/curvy-moose-count.md
  .changeset/spicy-cycles-smell.md
  .changeset/upset-facts-kick.md
  packages/docs/services/inversify-framework-site/validation-docs/openapi/api.mdx
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateParamsDecorator.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateQueryDecorator.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/validation/libraries/openapi/src/index.ts
  packages/framework/validation/libraries/openapi/src/metadata/decorators/ValidatedQuery.spec.ts
  packages/framework/validation/libraries/openapi/src/metadata/decorators/ValidatedQuery.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildCompositeValidationHandler.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildCompositeValidationHandler.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildQueryParse.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/buildQueryParse.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/inferSchemaTypeOrPrimitivaSchemaTypeOrThrow.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/inferSchemaTypeOrPrimitivaSchemaTypeOrThrow.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/getQueryParameterObjects.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/getQueryParameterObjects.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleBodyValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleParamValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleQueryValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot1/handleQueryValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/getQueryParameterObjects.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/getQueryParameterObjects.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleBodyValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleHeaderValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleQueryValidation.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/calculations/v3Dot2/handleQueryValidation.ts
  packages/framework/validation/libraries/openapi/src/validation/models/QueryValidationInputParam.ts
  packages/framework/validation/libraries/openapi/src/validation/models/ValidatedDecoratorResult.ts
  packages/framework/validation/libraries/openapi/src/validation/models/v3Dot1/ValidationCacheEntry.ts
  packages/framework/validation/libraries/openapi/src/validation/models/v3Dot2/ValidationCacheEntry.ts
  packages/framework/validation/libraries/openapi/src/validation/models/validatedInputParamTypes.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.int.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.int.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.ts
  packages/framework/validation/libraries/openapi/src/validation/services/v3Dot1/ValidationCache.ts
  packages/framework/validation/libraries/openapi/src/validation/services/v3Dot2/ValidationCache.ts
Due: none

style: fix typos
  .changeset/upset-facts-kick.md
  packages/docs/services/inversify-framework-site/validation-docs/openapi/api.mdx
Due: none

docs: improve OpenAPI code examples
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateHeadersDecorator.int.spec.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateHeadersDecorator.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateParamsDecorator.int.spec.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateParamsDecorator.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateQueryDecorator.int.spec.ts
  packages/docs/tools/inversify-validation-code-examples/src/examples/v1/openApiValidation/apiValidateQueryDecorator.ts
Due: none

chore: fix deprecation warning
  .github/workflows/create-bump-pr.yaml
  .github/workflows/sponsors-wall.yml
Due: none

test: update tests with stricter checks
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot1/OpenApiValidationPipe.int.spec.ts
  packages/framework/validation/libraries/openapi/src/validation/pipes/v3Dot2/OpenApiValidationPipe.int.spec.ts
Due: none

chore: update renovate wiith openspec skills update
  .github/renovate.json
Due: none

chore: update openspec update command
  .github/renovate.json
Due: none

refactor: update typings
  packages/framework/http/libraries/better-auth/src/auth/services/BaseBetterAuthContainerModule.ts
Due: @inversifyjs/http-better-auth

chore: add missing npm ignore file
  packages/framework/validation/libraries/openapi/.npmignore
Due: none

docs: add changeset
  .changeset/grumpy-sails-attend.md
Due: none

docs: archive spec
  openspec/changes/archive/2026-05-01-add-openapi-header-validation/.openspec.yaml
  openspec/changes/archive/2026-05-01-add-openapi-header-validation/design.md
  openspec/changes/archive/2026-05-01-add-openapi-header-validation/proposal.md
  openspec/changes/archive/2026-05-01-add-openapi-header-validation/specs/openapi-body-validation/spec.md
  openspec/changes/archive/2026-05-01-add-openapi-header-validation/specs/openapi-header-validation/spec.md
  openspec/changes/archive/2026-05-01-add-openapi-header-validation/tasks.md
  openspec/specs/openapi-body-validation/spec.md
  openspec/specs/openapi-header-validation/spec.md
Due: none

docs: add change
  openspec/changes/fix-http-global-middleware-scope/design.md
  openspec/changes/fix-http-global-middleware-scope/proposal.md
  openspec/changes/fix-http-global-middleware-scope/specs/http-global-middleware-adapters/spec.md
  openspec/changes/fix-http-global-middleware-scope/specs/http-global-middleware-core/spec.md
  openspec/changes/fix-http-global-middleware-scope/tasks.md
Due: none

style: update import to be a type one
  packages/framework/validation/libraries/class-validator/src/pipes/ClassValidationPipe.int.spec.ts
Due: @inversifyjs/class-validation

fix: update adapter to properly handle post handler middlewares
  .changeset/four-sides-return.md
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
Due: @inversifyjs/http-core

chore: update knip config to ignore k6
  knip.ts
Due: none

fix: update http adapters global middlewares to handle non handled routes
  .changeset/fair-parrots-thank.md
  openspec/changes/fix-http-global-middleware-scope/tasks.md
  packages/framework/http/libraries/better-auth/package.json
  packages/framework/http/libraries/better-auth/src/auth/calculations/buildBetterAuthUwebSocketsController.ts
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.spec.ts
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/express-v4/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/express/src/adapter/InversifyExpressHttpAdapter.ts
  packages/framework/http/libraries/fastify/README.md
  packages/framework/http/libraries/fastify/src/actions/handleGlobalMiddlewareList.spec.ts
  packages/framework/http/libraries/fastify/src/actions/handleGlobalMiddlewareList.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/hono/src/adapter/InversifyHonoHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/README.md
  packages/framework/http/libraries/uwebsockets/package.json
  packages/framework/http/libraries/uwebsockets/src/actions/handleGlobalMiddlewareList.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeKnownSizeStreamOverResponse.ts
  packages/framework/http/libraries/uwebsockets/src/actions/pipeStreamOverResponse.ts
  packages/framework/http/libraries/uwebsockets/src/adapter/InversifyUwebSocketsHttpAdapter.ts
  packages/framework/http/tools/e2e-tests/src/warrior/interceptor/interceptors/uwebsockets/WarriorRouteUwebSocketsInterceptor.ts
  packages/framework/http/tools/e2e-tests/src/warrior/middleware/middlewares/uwebsockets/UnsuccessfulUwebSocketsMiddleware.ts
  packages/framework/http/tools/http-benchmarks/src/scenario-setups/uwebsockets/setupBasicGetScenario.ts
Due: @inversifyjs/http-better-auth, @inversifyjs/http-core

fix: fix handlers
  openspec/changes/fix-http-global-middleware-scope/tasks.md
  packages/docs/services/inversify-framework-site/docs/api/inversify-http-adapter/inversify-fastify-http-adapter.mdx
  packages/docs/services/inversify-framework-site/docs/api/inversify-http-adapter/inversify-uwebsockets-http-adapter.mdx
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.spec.ts
  packages/framework/http/libraries/core/src/http/adapter/InversifyHttpAdapter.ts
  packages/framework/http/libraries/fastify/README.md
  packages/framework/http/libraries/fastify/src/actions/handleGlobalMiddlewareList.spec.ts
  packages/framework/http/libraries/fastify/src/actions/handleGlobalMiddlewareList.ts
  packages/framework/http/libraries/fastify/src/adapter/InversifyFastifyHttpAdapter.ts
  packages/framework/http/libraries/uwebsockets/README.md
  packages/framework/http/libraries/uwebsockets/src/actions/handleGlobalMiddlewareList.ts
Due: @inversifyjs/http-core

test: add e2e tests
  openspec/changes/fix-http-global-middleware-scope/tasks.md
  packages/framework/http/tools/e2e-tests/features/globalMiddleware.feature
  packages/framework/http/tools/e2e-tests/src/app/actions/initializeWorld.ts
  packages/framework/http/tools/e2e-tests/src/common/models/InversifyHttpWorld.ts
  packages/framework/http/tools/e2e-tests/src/server/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/common/step-definitions/thenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/controllers/WarriorsGetTestCorsController.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/express/CorsExpressMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/express/GlobalExpressMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/express4/CorsExpressV4Middleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/express4/GlobalExpressV4Middleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/fastify/CorsFastifyMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/fastify/GlobalFastifyMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/hono/CorsHonoMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/hono/GlobalHonoMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/middlewares/uwebsockets/GlobalUwebSocketsMiddleware.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/step-definitions/givenDefinitions.ts
  packages/framework/http/tools/e2e-tests/src/warrior/global-middleware/step-definitions/thenDefinitions.ts
Due: none

chore: update inversify build
  .github/renovate.json
  packages/container/libraries/binding-decorators/package.json
  packages/container/libraries/common/package.json
  packages/container/libraries/container/package.json
  packages/container/libraries/core/package.json
  packages/container/libraries/inversify/package.json
  packages/container/libraries/plugin-dispose/package.json
  packages/container/libraries/plugin/package.json
  packages/container/libraries/strongly-typed/package.json
Due: @inversifyjs/binding-decorators, @inversifyjs/common, @inversifyjs/container, @inversifyjs/core, @inversifyjs/plugin-dispose

chore: update eslint config with more flexible ranges
  .changeset/nine-clowns-try.md
  packages/foundation/tools/eslint-config/package.json
Due: none

Path conditions:
  @inversifyjs/ajv-validation: any of: packages/framework/validation/libraries/ajv
  @inversifyjs/binding-decorators: any of: packages/container/libraries/binding-decorators/
  @inversifyjs/class-validation: any of: packages/framework/validation/libraries/class-validator
  @inversifyjs/common: any of: packages/container/libraries/common/
  @inversifyjs/container: any of: packages/container/libraries/container/
  @inversifyjs/core: any of: packages/container/libraries/core/
  @inversifyjs/framework-core: any of: packages/framework/core
  @inversifyjs/http-better-auth: any of: packages/framework/http/libraries/better-auth
  @inversifyjs/http-core: any of: packages/framework/http/libraries/core
  @inversifyjs/http-open-api: any of: packages/framework/http/libraries/open-api
  @inversifyjs/http-sse: any of: packages/framework/http/libraries/sse
  @inversifyjs/http-validation: any of: packages/framework/http/libraries/validation
  @inversifyjs/logger: any of: packages/logger
  @inversifyjs/plugin-dispose: any of: packages/container/libraries/plugin-dispose
  @inversifyjs/prototype-utils: any of: packages/foundation/libraries/prototype-utils
  @inversifyjs/reflect-metadata-utils: any of: packages/foundation/libraries/reflect-metadata-utils
  @inversifyjs/standard-schema-validation: any of: packages/framework/validation/libraries/standard-schema
